<div class="container">
    <h2>Create Run</h2>
    <div class="option">
        <p>Run Name</p>
        <input [(ngModel)]="runName">
    </div>
    <div class="option">
        <p>Teams (for races)</p>
        <select [(ngModel)]="numberOfTeams" (change)="updateRunSize()">
            <option *ngFor="let teams of teamsOptions" [ngValue]="teams">{{ teams }}</option>
        </select>
    </div>
    <div class="option">
        <p>Runners Per Team</p>
        <select [(ngModel)]="runnersPerTeam" (change)="updateRunSize()">
            <option *ngFor="let runners of runnersOptions" [ngValue]="runners">{{ runners }}</option>
        </select>
    </div>

    <p>Run size: {{ runSize }}</p>

    <button (click)="createRun()">Create Run</button>

</div>
