<div class="container">
    <p id="title">Create Run</p>
    <div class="tab-container">
        <div class="tab">
            <div class="option">
                <p>Run Name</p>
                <input [(ngModel)]="runData.name" maxlength="20">
            </div>
            <div class="option">
                <p>Mode</p>
                <select [disabled]="usingPreset" [(ngModel)]="runData.mode" (change)="changeMode()">
                    <option [ngValue]="runMode.Speedrun">Speedrun</option>
                    <option [ngValue]="runMode.Lockout">Lockout</option>
                </select>
            </div>
            <div class="option">
                <p>Category</p>
                <select [(ngModel)]="runData.category" (change)="changeCategory()">
                    <option *ngFor="let category of categoryOptions" [ngValue]="category.key">{{ category.displayName }}</option>
                </select>
            </div>
            <br />
            <label><input type="checkbox" [disabled]="usingPreset || (runData.mode === runMode.Lockout && runData.teams === 1)" [(ngModel)]="runData.requireSameLevel">Require same level for cell pickup</label>
            <div *ngIf="runData.category === 0">
                <div class="option">
                    <p>Modifiers</p>
                </div>
                <label><input type="checkbox" [disabled]="usingPreset" [(ngModel)]="runData.allowSoloHubZoomers">Allow solo hub zoomer usage</label>
                <label><input type="checkbox" [disabled]="usingPreset" [(ngModel)]="runData.enablePvp">PVP</label>
                <label><input type="checkbox" [disabled]="usingPreset" [(ngModel)]="runData.noLTS">No LTS</label>
                <div class="option">
                    <p>Citadel Skip</p>
                    <select [(ngModel)]="runData.citadelSkip">
                        <option *ngFor="let option of citadelSkipOptions" [ngValue]="option">{{ citadelOptions[option] }}</option>
                    </select>
                </div>
            </div>
            <button [disabled]="runData.name.length === 0" (click)="createRun()">Create Run</button>
            <button [disabled]="runData.name.length === 0" class="offline" (click)="createOfflineRun()">Offline Run</button>
            
        </div>
        <div class="tab">
            <div class="option">
                <p>Teams (for races)</p>
                <select [(ngModel)]="runData.teams" (change)="changeTeams()">
                    <option *ngFor="let teams of teamsOptions" [ngValue]="teams">{{ runData.mode === runMode.Lockout && teams === 1 ? "Free for All" : teams }}</option>
                </select>
            </div>
            <div class="option">
                <p>Timer Countdown</p>
                <select [(ngModel)]="runData.countdownSeconds">
                    <option *ngFor="let secs of countdownOptions" [ngValue]="secs">{{ secs }} Seconds</option>
                </select>
            </div>
            <div class="option">
                <p>Password (optional)</p>
                <input [(ngModel)]="password" maxlength="20">
            </div>
            <div class="option">
                <mat-slide-toggle [(ngModel)]="runData.submitPbs" matTooltip="Runs by teams with guest accounts will not be submitted." matTooltipPosition="after"><span>Submit PBs</span></mat-slide-toggle>
            </div>
            <button *ngIf="tournamentPreset && tournamentPreset.presetIsVisible && !usingPreset" (click)="usePreset()">{{ tournamentPreset.presetButtonText }}</button>
        </div>
    </div>
</div>
