<div *ngIf="lobby" class="viewer" [style.opacity]="hide ? '0' : '1'">
    <h2>{{ lobby.runData.name }}</h2>
    <span>{{ runMode[lobby.runData.mode] }}</span>
    <span>Host: {{ lobby.host?.name }}</span>
    <br />
    <span>Teams: {{ lobby.runData.teams }}</span>
    <span>Require Same Level: {{ lobby.runData.requireSameLevel }}</span>
    <span>Allow Solo Zoomers: {{ lobby.runData.allowSoloHubZoomers }}</span>
    <br />
    <span>{{ lobby.runData.buildVersion }}</span>

    <div class="viewer-group">
        <p>Runners:</p>
        <div *ngFor="let user of lobby.users">
            <span *ngIf="user.isRunner">{{ user.name }}</span>
        </div>
    </div>
    
    <div class="viewer-group">
        <p>Spectators:</p>
        <div *ngFor="let user of lobby.users">
            <span *ngIf="!user.isRunner">{{ user.name }}</span>
        </div>
    </div>

</div>
<h1 class="backtext text-in-background" title="Details">Details</h1>
