<div *ngIf="lobby" class="viewer" [style.opacity]="hide ? '0' : '1'">
    <h2>{{ lobby.runData.name }}</h2>
    <span>{{ runMode[lobby.runData.mode] }}</span>
    <span>Host: {{ lobby.host }}</span>
    <br />
    <span>Teams: {{ lobby.runData.teams }}</span>
    <span>Players per team: {{ lobby.runData.teamSize }}</span>
    <br />
    <span>Require Same Level: {{ lobby.runData.requireSameLevel }}</span>
    <span>Allow Solo Zoomers: {{ lobby.runData.allowSoloHubZoomers }}</span>
    <br />
    <span>{{ lobby.runData.buildVersion }}</span>

    <div class="viewer-group">
        <p>Runners:</p>
        <span *ngFor="let runner of lobby.runners">{{ runner }}</span>
    </div>
    
    <div class="viewer-group">
        <p>Spectators:</p>
        <span *ngFor="let spectator of lobby.spectators">{{ spectator }}</span>
    </div>

</div>
<h1 class="backtext text-in-background" title="Details">Details</h1>
