
.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url("~/src/assets/lb-bg2.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(1px);
    -webkit-filter: blur(1px);
    -webkit-filter: grayscale(100%);
    filter: grayscale(70%);
}

.page {
    &-container {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 2;
        background-color: rgba(0,0,0, 0);
        padding: 0 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    &-title {
        color: #696969;
        margin-bottom: 6px;
    }
    &-header {
        flex-shrink: 1;
    }
    &-info {
        flex-shrink: 1;
        &-link {
            margin-left: 6px;
            font-size: 16px;
            font-weight: 500;
            color: #a56d06;
            & a {
                color: #a8a8a8;
                text-decoration: none;
                &:hover {
                    color: #380000;
                }
            }
        }
    }
    &-table {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, 0);

        &-container {
            overflow: auto;
            flex-grow: 1;
            margin: 0px 12px 46px;
        }
        &-inner {
            height: 100%;
        }

        &-none h4 {
            text-align: center;
            padding-top: 14px;
            padding-right: 50px;
            font-size: 18px;
        }

        &-content {
            border-right: 1px solid #b87512;
            background-color: rgba(0,0,0, 0.27);
            border-radius: 3px;
        }
        &-menu {
            width: 30px;
            &-icon {
                height: 18px;
                padding-left: 12px;
                & g {
                    fill: #929292;
                    transition: 0.22s;
                }
            }
            &:hover {
                cursor: pointer;
                & g {
                    fill: #a56d06;
                }
            }
        }
    }
}

.category {
    display: inline-block;

    &-button {
        border: 1px solid #575757;
        border-radius: 6px;
        background-color: #000000;
        color: #f5f5f5;
        padding: 8px 20px;
        margin: 0 5px;
        margin-bottom: 6px;
        cursor: pointer;
        -webkit-user-select: none;
        transition: 0.1s;
        &:hover {
            background-color: #1b1b1b;
        }
        &-selected {
            border: 1px solid #a56d06;
            background-color: #b87512;
            color: #ffffff;
            &:hover {
                background-color: #a56d06;
            }
        }
    }
}
.subcategory {
    display: inline-block;
    margin: 0 10px;
    margin-bottom: 6px;
    &-players {
        & input, select {
            border: 1px solid #575757;
            background: rgba(14, 14, 14, 0.8);
            border-radius: 4px;
            height: 36px;
            width: 120px;
            transition: 0.3s;
            transition-timing-function: ease;
            color: #ffffff;
            font-size: 18px;
        }
        & textarea:focus, input:focus{
            outline: none;
            border: 2px solid rgba(0, 0, 0, 1);
            background: rgba(24, 24, 24, 0.5);
        }
    }
}

h2 {
    margin: 0;
    margin-bottom: 4px;
}
hr {
    border-color: #575757;
    margin: 10px 0 10px;
}
.no-wrap {
    white-space: nowrap;
}
.hide {
    visibility: hidden;
    display: none !important;
}
.soft-hide {
    visibility: hidden;
}

.sidenav {
    padding: 11px 0 0 8px;
    min-width: 200px;
    width: 25%;
    max-width: 500px;
    background: rgba(0, 0, 0, 0);
    transition: 0.4s;
}

.chart-container {
    background-color: rgba(0,0,0, 0.5);
    border-radius: 7px;
}

.content-cont {
    display: flex;
}

.backtext {
    -webkit-user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'precursor';
    font-size: 40px;
    z-index: -1;
    color: rgba(61, 61, 61, 0.9);
    text-shadow: 0px 2px 3px rgba(51, 51, 51, 0.8);
    -webkit-background-clip: text;
    background-clip: text;
}

table {
    width: 100%;
  }
td {
    color: #a8a8a8 !important;
}
tr.run-expanded-row {
    height: 0;
}

tr.run-row {
    transition: 0.2s;
}
tr.run-expanded-row-open {
    background-color: rgba(204, 204, 204, 0.1) !important;
}

tr.run-row:hover {
    background-color: rgba(204, 204, 204, 0.1) !important;
    cursor: pointer;
}

tr.run-row:active {
    background-color: rgba(204, 204, 204, 0.2);
}

.mat-mdc-row:not(.run-expanded-row-open):nth-child(2n+1){
    background-color: rgba(0, 0, 0, 0.05);
}
.mat-mdc-row:not(.run-expanded-row-open):nth-child(even){
    background-color: rgba(0, 0, 0, 0.23);
}

.run-row td {
border-bottom-width: 0;
}


.mat-mdc-table {
    background: none !important;
}

.mat-button-toggle{
    background-color: #383838;
    color: #ffffff;
    border: 1px solid #575757;
}

.mat-button-toggle:hover {
    background-color: #835a0e;
    color: #ffffff !important;    
}

.mat-button-toggle-checked {
    background-color: #b87512;
    color: #ffffff !important;
}

.mat-mdc-header-cell {
    color: #a56d06 !important;
    border-bottom: 1px solid #b87512;
}