<div class="page-container">
  <div class="page-header">
      <app-header></app-header>
  </div>
  <div class="page-info">
    <h2>Leaderboards <span class="page-info-link">- Official leaderboard at <a target="_blank" href="https://www.speedrun.com/og1_teamrun">speedrun.com</a></span></h2>
    <div class="category" *ngFor="let category of categoryOptions">
      <div *ngIf="category.key !== 0" (click)="changeCategory(category.key)" class="category-button" [class.category-button-selected]="selectedCategory === category.key">{{category.displayName}}</div>
    </div>
    <hr />
    <div>
      <div class="subcategory">
        <mat-button-toggle-group [(ngModel)]="sameLevel" appearance="legacy" (change)="updateContent()">
          <mat-button-toggle value="false">Individual</mat-button-toggle>
          <mat-button-toggle value="true">Same Level</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="subcategory subcategory-players">
        <select [(ngModel)]="players" (change)="updateContent()">
          <option *ngFor="let playerCount of playerOptions" [ngValue]="playerCount">{{ playerCount }} players</option>
      </select>
      </div>
      <div class="subcategory">
        <div class="category-button" (click)="updateContent(true)">{{ showWrHistory ? "Leaderboards" : "WR History" }}</div>
      </div>
    </div>

  </div>
  <div class="page-table">
    <div [class.hide]="showWrHistory">
      <table *ngIf="leaderboard.pbs.length !== 0" mat-table [dataSource]="dataSource" multiTemplateDataRows>
          <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> # </th>
              <td mat-cell *matCellDef="let run; let i = dataIndex">{{i + 1}}</td>
          </ng-container>
          <ng-container matColumnDef="players">
              <th mat-header-cell *matHeaderCellDef> Players </th>
              <td mat-cell class="no-wrap" *matCellDef="let run">
                <span *ngFor="let user of run.userIds; let end = last">
                  {{user}}<span *ngIf="!end"> · </span> 
                </span>
              </td>
          </ng-container>
          <ng-container matColumnDef="time">
              <th mat-header-cell *matHeaderCellDef> Time </th>
              <td mat-cell *matCellDef="let run"> {{run.endTimeFrontend}} </td>
          </ng-container>
          <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef> Date </th>
              <td mat-cell *matCellDef="let run"> {{run.dateFrontend | date:'dd/MM/yy'}} </td>
          </ng-container>
          <ng-container matColumnDef="version">
              <th mat-header-cell *matHeaderCellDef> Version </th>
              <td mat-cell *matCellDef="let run"> {{run.version}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr mat-row *matRowDef="let run; columns: columns;" class="run-row"></tr>
      </table>
      <div *ngIf="leaderboard.pbs.length === 0 && boardHasLoaded" class="page-table-none">
        <h4>No runs found</h4>
      </div>
    </div>

      <div [class.hide]="!showWrHistory" class="chart-container">
        <br />
        <canvas  id="WRchart" >{{ chart }}</canvas>
      </div> 
  </div>


  <div class="backtext">
      <h1>LB</h1>
  </div>

  <p id="name" class="text-in-background" [title]="_user.user.name">{{ _user.user.name }}</p>
</div>