
.page {
    &-container {
        padding: 0 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    &-header {
        flex-shrink: 1;
    }
    &-info {
        flex-shrink: 1;
    }
    &-table {
        overflow: auto;
        flex-grow: 1;
        margin: 0px 12px 46px;

        &-none h4 {
            text-align: center;
            padding-top: 14px;
            padding-right: 50px;
            font-size: 18px;
        }
    }
}

.category {
    display: inline-block;

    &-button {
        border: 1px solid #575757;
        border-radius: 6px;
        background-color: #000000;
        color: #f5f5f5;
        padding: 8px 20px;
        margin: 0 5px;
        cursor: pointer;
        -webkit-user-select: none;
        transition: 0.1s;
        &:hover {
            background-color: #1b1b1b;
        }
        &-selected {
            border: 1px solid #a56d06;
            background-color: #b87512;
            color: #ffffff;
            &:hover {
                background-color: #a56d06;
            }
        }
    }
}
.subcategory {
    display: inline-block;
    margin: 0 10px;
}
.players {
    & input, select {
        border: 2px solid rgba(7, 7, 7, 0.8);
        background: rgba(14, 14, 14, 0.8);
        border-radius: 4px;
        height: 36px;
        width: 120px;
        transition: 0.3s;
        transition-timing-function: ease;
        color: #ffffff;
        font-size: 18px;
    }
    & textarea:focus, input:focus{
        outline: none;
        border: 2px solid rgba(0, 0, 0, 1);
        background: rgba(24, 24, 24, 0.5);
    }
}

h2 {
    margin: 0;
    margin-bottom: 4px;
}
hr {
    border-color: #575757;
    margin: 10px 0 10px;
}
.no-wrap {
    white-space: nowrap;
}
.hide {
    visibility: hidden;
    display: none !important;
}


.backtext {
    -webkit-user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'precursor';
    font-size: 40px;
    z-index: -1;
    color: rgba(61, 61, 61, 0.9);
    text-shadow: 0px 2px 3px rgba(51, 51, 51, 0.8);
    -webkit-background-clip: text;
    background-clip: text;
}

#name {
    position: absolute;
    bottom: 3px;
    left: 0;
    font-family: 'jak';
    font-size: 30px;
    margin: 0;
    margin-left: 5px;
}

table {
    width: 100%;
  }
td {
    color: #a8a8a8 !important;
}
tr.run-expanded-row {
height: 0;
}
tr.run-row {
    transition: 0.2s;
}

tr.run-row:hover {
    background-color: rgba(204, 204, 204, 0.1);
    cursor: pointer;
}

tr.run-row:active {
    background-color: rgba(204, 204, 204, 0.2);
}

.mat-mdc-row:nth-child(2n+1){
    background-color: #3e3e3e;
}
.mat-mdc-row:nth-child(even){
    background-color: #3b3b3b;
}

.run-row td {
border-bottom-width: 0;
}


.mat-mdc-table {
    background: none !important;
}

.mat-mdc-row {
    height: 42px !important;
}

.mat-button-toggle{
    background-color: #383838;
    color: #ffffff;
}

.mat-button-toggle:hover {
    background-color: #a56d06;
    color: #ffffff !important;    
}

.mat-button-toggle-checked {
    background-color: #b87512;
    color: #ffffff !important;
}