<div class="container" (click)="close()">
    <div class="tab">
        <div class="section">
            <p class="section-title">Connect / Launching OpenGOAL</p>
            <p>
                Launch OpenGOAL from the client to properly connect them together, this process can take a while (~1 min on older PCs) and is automatically done in the following steps:<br />
                <span>(1/2) Starting OpenGOAL:</span> A notification will be given in the client once completed.<br />
                <span>(2/2) Connecting Teamrun to OpenGoal:</span>  Notification + Jak's color in game will go from red to normal.<br /><br />
                If the client hasn't connected fully yet a <img src="./assets/other/disconnected.png"> will be displayed (for you only) next to your name in run lobbies.<br /><br />
                OpenGOAL can be relauched at any point from the menu opened by the menu icon: 
                <svg class="menu-icon" version="1.0" viewBox="0 0 119.000000 99.000000" preserveAspectRatio="xMidYMid meet">
                    <g transform="translate(0.000000,99.000000) scale(0.100000,-0.100000)" stroke="none">
                      <path d="M90 905 l0 -85 445 0 445 0 0 85 0 85 -445 0 -445 0 0 -85z"/>
                      <path d="M90 505 l0 -85 495 0 495 0 0 85 0 85 -495 0 -495 0 0 -85z"/>
                      <path d="M90 105 l0 -85 395 0 395 0 0 85 0 85 -395 0 -395 0 0 -85z"/>
                    </g>
                  </svg> 
                  in the top left of the client, a relaunch can sometimes help if the connection process seems to have failed, you can also update the OpenGOAL folder path from the menu.<br />
            </p>
        </div><br />

        <div class="section">
            <p class="section-title">Modes</p>
            <p>
                <span>Speedrun</span>
                Normal team based speed run, see "Shared Items and Tasks" section for things shared between teammates.<br />
                <span>Lockout</span>
                Cells are shared with opposing teams including any unlocks that comes with them, but the cells collected by your team only count toward your own teams cell score, final boss unlocks after 73 total cells, the team with highest cell score at any point after that will have access to final boss.
            </p>
        </div>
    </div>



    <div class="tab">
        <div class="section">
            <p class="section-title">Default Modifications</p>
            <p>
                These are modifications applied to runs by default, they can be toggled off if desired when creating a run.<br />
                <span>Zoomer sections between hubs</span> requires every runner in the team to be on their zoomer before full speed for it is activated, this only needs to be done once.<br />
                <span>Cell costs </span> are doubled by default when sharing cells with others.<br />
            </p>
        </div><br />

        <div class="section">
            <p class="section-title">Shared Items and Tasks</p>
            <p>
                Power Cells<br />
                Warp Gates<br />
                Catching Muse<br />
                Retrieving Yakow Cell from Farmer<br />
                Retrieving Mirrors Cell from Mayor<br />
                Retrieving Moles Cell from Geologist<br />
                Defeating Klaww<br />
                Destroying Lava Tube Oranges<br />
            </p>
        </div><br />

        <div class="section">
            <p class="section-title section-title-red">BEWARE / KNOWN ISSUES!</p>
            <p>
                See "Zoomer sections between hubs" if Mountain Pass is unclear.<br />
                <span>Mountain Pass</span>
                As the zoomer moves slow while waiting for others it might be a good idea to pause while waiting for them due to the lurker race.<br />

                <span>Citadel Skip</span>
                Citadel Skip becomes unavailable after a teammate picks up the cell at the top as you can't do the skip if you already have the cell.
            </p>
        </div>
    </div>
</div>