<div class="container" (click)="close()">
    <div class="tab">
        <div class="section">
            <p class="section-title">Connect / Launching OpenGOAL</p>
            <p>
                Launch OpenGOAL from Teamruns to properly connect them together, the game can be launched by clicking the the menu icon: 
                <svg class="menu-icon" version="1.0" viewBox="0 0 119.000000 99.000000" preserveAspectRatio="xMidYMid meet">
                    <g transform="translate(0.000000,99.000000) scale(0.100000,-0.100000)" stroke="none">
                      <path d="M90 905 l0 -85 445 0 445 0 0 85 0 85 -445 0 -445 0 0 -85z"/>
                      <path d="M90 505 l0 -85 495 0 495 0 0 85 0 85 -495 0 -495 0 0 -85z"/>
                      <path d="M90 105 l0 -85 395 0 395 0 0 85 0 85 -395 0 -395 0 0 -85z"/>
                    </g>
                  </svg> 
                  in the top left of the client and selecting "Launch OpenGOAL".<br />
            </p>
        </div><br />

        <div class="section">
            <p class="section-title">Modes</p>
            <p>
                <span>Speedrun</span>
                Normal team based speedrun.<br />
                <span>Lockout</span>
                Cells are shared with opposing teams including any unlocks that comes with them, but the cells collected by your team only count toward your own teams cell score, final boss unlocks after 73 total cells, the team with highest cell score at any point after that will have access to final boss.
            </p>
        </div><br />

        <div class="section">
            <p class="section-title">Default Modifications</p>
            <p>
                Modifications applied by default, they can be changed if desired by creating a run in the custom game mode.<br />
                <span>Zoomer sections between hubs</span> Requires every runner in the team to be on their zoomer before full speed for it is activated, this only needs to be done once.<br />
            </p>
        </div>
    </div>



    <div class="tab">
        <div class="section">
            <p class="section-title">Missing Features</p>
            <p>
                <span>Enemy Positions</span>
                Regular enemy positions are not yet shared between players.<br />
                <span>Projectiles</span>
                Projectiles shots are not yet shared between players, yellow eco shots spawn in but their path is handled locally by each player and can thus still differ for everyone.
            </p>
        </div><br />

        <div class="section">
            <p class="section-title section-title-red">BEWARE / KNOWN ISSUES!</p>
            <p>
                <span>Connection Issue</span>
                If Jak remains red for a longer period of time after launching the game the connection between Teamruns and OpenGOAL failed, a relaunch usually fixes this.<br />
                
                <span>PVP</span>
                Only works in a free for all format at the moment, zoomers and yellow eco shots does not damange other players.<br />
            </p>
        </div>
    </div>
</div>