<div class="container">
    <div class="tab">
        <div class="section">
            <p class="section-title">Connect / Launching OpenGOAL</p>
            <p>
                Launch OpenGOAL from the client to propery connect them together, this process can take a while (~1 min on older PCs) and is done in the following steps:<br />
                <span>(1/3) Starting OpenGOAL:</span> A notification will be given in the client once completed.<br />
                <span>(2/3) Connecting client to OG:</span>  Notification + Jak being tripped and given red eco in game.<br />
                <span>(3/3) Connecting Tracker to OG:</span> Notification + Jak being tripped and given yellow eco.<br /><br />
                If the client hasn't connected fully yet a <img src="./assets/other/disconnected.png"> will be displayed (for you only) next to your name in run lobbies.<br /><br />
                OpenGOAL can be relauched at any point from the menu opened by the menu icon: 
                <svg class="menu-icon" version="1.0" viewBox="0 0 119.000000 99.000000" preserveAspectRatio="xMidYMid meet">
                    <g transform="translate(0.000000,99.000000) scale(0.100000,-0.100000)" stroke="none">
                      <path d="M90 905 l0 -85 445 0 445 0 0 85 0 85 -445 0 -445 0 0 -85z"/>
                      <path d="M90 505 l0 -85 495 0 495 0 0 85 0 85 -495 0 -495 0 0 -85z"/>
                      <path d="M90 105 l0 -85 395 0 395 0 0 85 0 85 -395 0 -395 0 0 -85z"/>
                    </g>
                  </svg> 
                  in the top left of the client, you can change the path to your OpenGOAL folder from there as well.
            </p>
        </div><br />

        <div class="section">
            <p class="section-title">Modes</p>
            <p>
                <span>Speedrun</span>
                Normal run with items and tasks shared.<br />
                <span>Lockout</span>
                Cells are shared with opposite teams including unlocks that comes with them, final boss unlocks after 73 cells, the team with most cells at any point after that have access to final boss.
            </p>
        </div>
    </div>



    <div class="tab">
        <div class="section">
            <p class="section-title">Run Settings / Defaults</p>
            <p>
                <span>Require same level:</span> Disables cell pickup unless every teammate is in the same level.<br />
                <span>Allow solo zoomer use:</span> Zoomer sections between hubs requires every runner in the team to be on their zoomer before full speed for it is activated, this only needs to be done once.<br />
                <span>Normal cell cost:</span> Cell costs are doubled by default when sharing cells with others.<br />
            </p>
        </div><br />

        <div class="section">
            <p class="section-title">Shared Items and Tasks</p>
            <p>
                Power Cells<br />
                Warp Gates<br />
                Returning Muse<br />
                Retriving Yakow Cell from Farmer<br />
                Retriving Mirrors Cell from Mayor<br />
                Retriving Basin Race Cell from Gambler<br />
                Retriving Moles Cell from Geologist<br />
                Defeating Klaww<br />
                Lava Tube Oranges<br />
            </p>
        </div><br />

        <div class="section">
            <p class="section-title section-title-red">BE WARE / KNOWN ISSUES!</p>
            <p>
                Read "Allow solo zoomer use" above if Mountain Pass is unclear.<br />
                <span>Mountain Pass</span>
                As the zoomer moves slow while waiting for others it might be a good idea to pause while waiting for them due to the lurker race.<br />

                <span>Citadel Skip</span>
                Citadel Skip becomes unavailable after a teammate picks up the cell at the top as you can't do the skip if you already have the cell.
            </p>
        </div>
    </div>
</div>