.blackscreen {
    position: fixed;
    z-index: 10;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    transition: 0.3s;
    &-fade {
        background-color: rgb(255, 255, 255, 0);
        z-index: -1;
        visibility: hidden;
    }
}

#bg-video {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}

.logo {
    position: fixed;
    width: 250px;
    height: 150px;
    top: 58px;
    right: 40px;
    & img {
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
        -webkit-user-select: none;
        max-width:100%;
        max-height:100%;
    }
}

.login {
    &-options {
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        width: 385px;
        height: 420px;
        border-radius: 10px;
        left: 15%;
        top: 50%;
        transform: translateX(-15%) translateY(-50%);
    }
    &-text-option {
        display: inline-block;
        margin-top: 1px !important;
        font-size: 20px !important;
        color: #cccccc !important;
        text-decoration: underline;
        transition: 0.2s;
        &:hover {
            cursor: pointer;
            color: #d49012 !important;
        }
    }
    &-highlighted {
        color: #b87512 !important;
    }
    &-container {
        margin: 42px 10px 20px;
        & button {
            font-family: 'jak';
            font-size: 24px;
            color: #cccccc;
            margin: 20px 18px 36px;
            height: 68px;
            width: 120px;
            flex-shrink: 1;
            background-color: #3e3e3e;
            border: 1px solid #636363;
            border-radius: 6px;
            outline: none;
            transition: 0.3s;
            &:not([disabled]):hover {
                cursor: pointer;
                color: rgb(204, 204, 204, 0.8);
                background-color: rgba(85, 85, 85, 0.8);
                border: 1px solid rgb(99, 99, 99, 0.6);
            }
        }
    }
}

.input-container {
    margin: 5px 10px 14px;
    font-family: 'jak';
    &-buttons {
        display: flex;
    }
    & p, span {
        font-size: 22px;
        margin: 4px;
        color: #cccccc;
    }
    & input {
        outline: none;
        border: 2px solid rgba(0, 0, 0, 1);
        background: rgba(24, 24, 24, 0.5);
        border-radius: 4px;
        height: 36px;
        width: 280px;
        transition: 0.3s;
        transition-timing-function: ease;
        color: #ffffff;
        font-size: 22px;
    }
    & textarea:focus, input:focus{
        border: 2px solid rgba(0, 0, 0, 0.8);
        background: rgba(0, 0, 0, 0.6);
    }
}

.info {
    -webkit-user-select: none;
    position: fixed;
    font-family: 'precursor';
    font-size: 30px;
    color: #d49012;
    text-shadow: 5px 5px #000000;
    bottom: 30px;
    left: 85%;
    transform: translateX(-85%) rotate(-8deg);
}