.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 8px;
    height: 100%;
    max-height: 306px;
}

.title {
    flex-shrink: 1;
    -webkit-user-select: none;
    font-family: 'jak';
    font-size: 22px;
    margin: 18px 8px 12px;
    color: #d49012;
}

.save {
    border-bottom: 1px solid #d49012;
    padding: 2px 4px 10px;
    transition: 0.2s;
    &-container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }
    &-header {
        display: flex;
        margin: 2px;
    }
    &-name {
        flex-grow: 1;
    }
    &-stats {
        flex-shrink: 1;
    }
    &-cell {
        height: 16px;
        &-cont {
            font-family: 'precursor';
            font-size: 16px;
            color: rgb(212, 144, 18, 0.7) !important;
        }
    }
    &-orb {
        height: 14px;
        &-cont {
            font-family: 'precursor';
            font-size: 16px;
            color: rgb(212, 144, 18, 0.7) !important;
        }
    }
    & h4, span {
        margin: 3px;
        color: #cccccc;
    }
    &:hover {
        background-color: #494949;
        cursor: pointer;
    }
}
