.container {
    max-height: 100%;
    padding: 14px 2px 0;
    position: relative;
}

.title {
    -webkit-user-select: none;
    font-family: 'jak';
    font-size: 18px;
    margin: 4px 0 0;
    color: #d49012;
}

.spectators {
    max-height: 96px;
    overflow-y: auto;
    & p {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        margin: 0;
        color: #cccccc;
    }
    & span {
        flex-shrink: 1;
    }
}

.kick {
    margin-right: 2px;
    font-size: 17px;
    font-family: 'jak';
    color: #380000;
    transition: 0.3s;
    &:hover {
        color: #d49012;
        cursor: pointer;
    }
}
