.players {
    background-color: rgb(0, 0, 0, 0);
    width: 300px;
}

.lobby {
    flex-shrink: 1;
    max-height: 110px;
    padding: 0px 20px 30px;
    &-container {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
}

.run {
    position: relative;
    display: flex;
    border: 3px solid #d49012;
    background-color: #383838;
    border-radius: 16px;
    margin: 16px 36px 16px 0px;
    padding: 6px;
    height: 65px;
    font-family: 'jak';
    flex-grow: 1;
    color: #b4b4b4;
    transition: 0.2s;
    &:hover {
        border: 3px solid #a56d06;
        background-color: #3e3e3e;
    }
    &-cont {
        overflow: auto;
        flex-grow: 1;
        margin: 0px 24px 64px;
        border-top: 2px solid rgba(29, 29, 29, 0.2);
        &::-webkit-scrollbar {
            display: none;
        }
        &-inner {
            display: flex;
        }
    }
    &-info {
        flex: 1;
        position: relative;
        & div {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    & h2 {
        margin: 0;
        padding: 0;
        font-size: 24px;
        & img {
            height: 18px;
            margin-right: 6px;
        }
    }
    & span {
        margin-right: 12px;
        display: block;
    }
    & button {
        flex-shrink: 1;
        font-family: 'jak';
        font-size: 32px;
        color: #636363;
        height: 52px;
        width: 92px;
        background-color: #3e3e3e;
        border: 2px solid #636363;
        border-radius: 12px;
        outline: none;
        margin: auto;
        margin-right: 8px;
        transition: 0.2s;
        &:hover:enabled {
            color: rgba(204, 204, 204, 0.9);
            background-color: rgba(85, 85, 85, 0.8);
            cursor: pointer;
        }
        &:disabled {
            opacity: 0.3;
        }
    }
    &-disabled {
        border: 3px solid #636363 !important;
    }
    &-delete {
        font-size: 62px;
        font-family: 'jak';
        color: #380000;
        transition: 0.3s;
        &:hover {
            color: #d49012;
            cursor: pointer;
        }
        &-cont {
            margin-top: 14px;
            padding: 10px;
            height: 62px;
            width: 42px;
            flex-shrink: 1;
            display: inline-block;
        }
    }
}

.backtext {
    -webkit-user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'precursor';
    font-size: 40px;
    z-index: -1;
    color: rgba(61, 61, 61, 0.9);
    text-shadow: 0px 2px 3px rgba(51, 51, 51, 0.8);
    -webkit-background-clip: text;
    background-clip: text;
}

#name {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'jak';
    font-size: 30px;
    margin: 0;
    margin-left: 5px;
}