<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" position="end" class="sidenav" [opened]="true">
    <div class="sidenav-container">

      <!-- LOGO -->
      <div class="sidenav-content sidenav-logo">
        <img src="./assets/teamruns-logo.png" alt="image">
      </div>

      <!-- BUTTONS 1 -->
      @if (runHandler.connected && mainLocalPlayer && runHandler.run) {
        <div class="sidenav-content sidenav-buttons sidenav-buttons-big">
          <button [class.sidenav-buttons-big-orange]="runHandler.run.timer.runState === runState.Waiting && mainLocalPlayer.socketHandler.player?.state !== playerState.Ready"
            [class.sidenav-buttons-big-ready]="mainLocalPlayer.socketHandler.player?.state == playerState.Ready && runHandler.run.timer.runState === runState.Waiting"
            [disabled]="(runHandler.run.timer.runState !== runState.Waiting && runHandler.run.timer.runState !== runState.Started) || mainLocalPlayer.socketHandler.player?.state === playerState.Forfeit || mainLocalPlayer.socketHandler.player?.state === playerState.WantsToReset || mainLocalPlayer.user.isLaunching || (runHandler.run.timer.runState === runState.Started && mainLocalPlayer.socketHandler.localTeam === undefined) || _user.isDownloading"
          (click)="runHandler.run.timer.runState === runState.Started ? forfeit() : !mainLocalPlayer.socketHandler.socketConnected ? launchGame() : toggleReady()">{{ runHandler.run.timer.runState === runState.Started ? "Forfeit" : !mainLocalPlayer.socketHandler.socketConnected ? "Launch" : "Ready" }}</button>
          <button class="sidenav-buttons-big-reset"
            [disabled]="runHandler.run.timer.runState !== runState.Started && runHandler.run.timer.runState !== runState.Ended"
          (click)="toggleReset()">Vote Reset</button>
        </div>
      }

      <!-- TIMER -->
      @if (runHandler.connected && mainLocalPlayer && runHandler.run) {
        <app-run-timer class="sidenav-content" [timer]="runHandler.run.timer"></app-run-timer>
      }

      <!-- BUTTONS 2 -->
      @if (runHandler.connected && mainLocalPlayer && runHandler.run) {
        <div class="sidenav-content sidenav-buttons sidenav-buttons-small">
          @if (mainLocalPlayer.socketHandler.player?.state !== playerState.Ready && runHandler.run.timer.runState === runState.Waiting) {
            <div>
              <button (click)="importRun()">Import Run</button>
            </div>
          }
          @if (mainLocalPlayer.socketHandler.player?.state !== playerState.Ready && runHandler.run.timer.runState === runState.Waiting) {
            <div>
              <button (click)="addLocalPlayer()" class="sidenav-buttons-small-local">Add Local Player</button>
            </div>
          }
          <div>
            <button (click)="leave()" class="sidenav-buttons-small-exit">Exit Lobby</button>
          </div>
        </div>
      }

      <!-- CHAT -->
      @if (runHandler.connected && mainLocalPlayer && runHandler.run) {
        <app-chat class="sidenav-chat" [chatMessages]="runHandler.chatMessages" (onMessage)="handleChatMessage($event)"></app-chat>
      }

      <!-- CONNECTION LOGS -->
      @if ((!runHandler.connected || !mainLocalPlayer) && runHandler.connectionHandler.localSlave) {
        <div class="logs">
          @for (log of runHandler.connectionHandler.localSlave?.peer?.connectionLogs; track log) {
            <p>{{ log }}</p>
          }
        </div>
      }


    </div>
  </mat-sidenav>

  <mat-sidenav-content class="run">
    <!-- HEADER -->
    <app-header [inRun]="runHandler.run?.timer?.runState !== runState.Waiting" [title]="(runHandler.run?.data?.name ? (runHandler.run?.data?.name + ' | ') : '' ) + runHandler.info" [hideLogo]="true"></app-header>

    @if (runHandler.connected && mainLocalPlayer && runHandler.run) {
      <div class="run-body">
        <!-- TEAMS -->
        <div class="run-info">
          <div class="run-info-teams">
            @for (team of runHandler.run.teams; track team.id; let i = $index) {
              <div class="team-cont" [class.team-cont-1row]="runHandler.run.teams.length < 3"[class.team-cont-2row]="runHandler.run.teams.length >= 3">
                <div class="run-info-teams-title">
                  @if (!team.runIsValid) {
                    <img src="./assets/icons/finalboss-forfeit.png"  [matTooltip]="team.runInvalidReason" matTooltipPosition="below">
                  }
                  @if (editingTeamId !== team.id) {
                    <p [class.team-name-editable]="mainLocalPlayer.socketHandler.player?.state !== playerState.Ready && runHandler.run.timer.runState === runState.Waiting" (click)="editTeamName(team.id)" class="team-name">{{ team.name }}</p>
                  }
                  @if (editingTeamId === team.id) {
                    <input (focusout)="updateTeamName()" (keyup.enter)="updateTeamName()" [(ngModel)]="team.name" maxlength="16">
                  }
                </div>
                @if (team.id !== mainLocalPlayer.socketHandler.localTeam?.id && runHandler.run.timer.runState === runState.Waiting) {
                  <button class="run-info-teams-join" (click)="switchTeam(team.id)">Join</button>
                }
                <div class="team-players">
                  @for (player of team.players; track player.user.id) {
                    <div>
                      <p [class.team-player-disconnected]="player.state === playerState.Disconnected" [class.team-player-ready]="player.state === playerState.Ready && (runHandler.run.timer.runState === runState.Countdown || runHandler.run.timer.runState === runState.Waiting)" [class.team-player-reset]="player.state === playerState.WantsToReset">
                        @if (player.currentLevel) {
                          <img class="run-info-teams-level" [src]="'./assets/levels/' + player.currentLevel + '.png'">
                        }
                        <span>{{ player.user.name }}</span>
                        <span class="run-info-teams-cells-cont"><img class="run-info-teams-cells" src="./assets/icons/cell_counter.png">{{ player.cellsCollected }}</span>
                        @if (runHandler.lobby?.host?.user?.id === mainLocalPlayer.user.id && runHandler.run.timer.runState === runState.Waiting) {
                          <span class="run-info-teams-kick" (click)="kickPlayer(player.user)">X</span>
                        }
                      </p>
                    </div>
                  }
                </div>
              </div>
            }
          </div>
          <!-- RUN DETAILS -->
          <div class="run-info-details">
            <div class="run-info-details-host">
              <p>Host</p>
              <span>{{ runHandler.lobby?.host?.user?.name }}</span>
            </div>
            @if (runHandler.connected && mainLocalPlayer && runHandler.run) {
              <app-run-spectators [spectators]="runHandler.run.spectators" [isHost]="runHandler.lobby?.host?.user?.id === mainLocalPlayer.user.id" [userId]="mainLocalPlayer.user.id" (onKick)="kickPlayer($event)"></app-run-spectators>
            }
          </div>
        </div>
        <!-- RUN SPLITS -->
        <div class="progress">
          @for (team of runHandler.run.teams; track team.id; let i = $index) {
            <app-run-splits [team]="team" class="progress-team" [class.progress-team-splitter]="i !== 0"></app-run-splits>
          }
        </div>
      </div>
    }
    @if (!runHandler.connected || !mainLocalPlayer) {
      <div id="connecting">
        <h1 class="text-in-background">Connecting to Lobby</h1>
        <mat-spinner class="spinner"></mat-spinner>
      </div>
    }

    <div class="backtext">
      <h1>theurn</h1>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>