.sidenav {
    background-color: rgb(0, 0, 0, 0);
    width: 300px;
}

.run {
    padding: 0px 20px 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &-body {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        height: 700px;
        margin-bottom: 24px;
        min-height: 0;
    }

    &-info {
        flex-shrink: 1;
        display: flex;
        border-bottom: 3px solid #494949;
        &-teams {
            flex: 7;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &-title {
                display: flex;
                p {
                    display: inline-block;
                    flex-grow: 1;
                }
                & img {
                    margin-top: 3px;
                    margin-right: 3px;
                    height: 17px;
                    flex-shrink: 1;
                }
            }
            &-zoomer {
                float: left;
                height: 17px;
                margin-top: 2px;
                margin-right: 4px;
            }
            &-level {
                float: left;
                height: 19px;
                margin-right: 4px;
            }
            &-disconnected {
                float: left;
                height: 19px;
                margin-right: 4px;
            }
            &-cells {
                margin-left: 6px;
                height: 19px;
                &-cont {
                    font-family: 'precursor';
                    font-size: 18px;
                    color: rgb(212, 144, 18, 0.7) !important;
                }
            }
            &-kick {
                margin-left: 6px;
                font-size: 19px;
                font-family: 'jak';
                color: #380000;
                transition: 0.3s;
                &:hover {
                    color: #d49012;
                    cursor: pointer;
                }
            }
        }
        &-details {
            flex: 2;
            border-left: 3px solid #494949;
            margin-bottom: 20px;
            margin-left: 10px;
            & button {
                float: right;
                font-family: 'jak';
                font-size: 32px;
                color: #636363;
                margin: 12px 0px 2px;
                height: 66px;
                width: 120px;
                background-color: #3e3e3e;
                border: 2px solid #636363;
                border-radius: 12px;
                outline: none;
                transition: 0.2s;
                &:hover:enabled {
                    color: rgba(204, 204, 204, 0.9);
                    background-color: rgba(85, 85, 85, 0.8);
                    cursor: pointer;
                }
            }
            &-ready {
                background-color: rgb(212, 144, 18, 0.7) !important;
                color: #3e3e3e !important;
            }
            &-reset {
                font-size: 24px !important;
                font-weight: bold;
                height: 62px !important;
                &:hover:enabled {
                    background-color: rgb(56, 0, 0, 0.9) !important;
                    color: rgba(204, 204, 204, 0.8) !important;
                    cursor: pointer;
                }
            }
            &-owner {
                float: right;
                width: 130px;
                overflow: hidden;
                position: relative;
                & p {
                    margin-top: 12px;
                    color: #cccccc;
                    text-decoration: underline;
                }
                & span {
                    position: absolute;
                    bottom: 0;
                    left: 25px;
                    padding-top: 122px;
                }
            }
        }
    }
    &-sidenav {
        display: flex;
        height: 100%;
        flex-direction: column;

        &-content {
            flex-grow: 3;
        }
        &-menu {
            flex-shrink: 1;
            margin: 20px 10px;
            &-container {
                flex-shrink: 1;
                display: flex;
                justify-content: center;
            }
            & button {
                border: 1px solid rgba(24, 24, 24, 0.8);
                background: rgba(24, 24, 24, 0.7);
                border-radius: 4px;
                height: 58px;
                width: 120px;
                transition: 0.3s;
                transition-timing-function: ease;
                color: #cecece;
                font-size: 18px;

                font-family: 'jak';
                font-size: 22px;
                outline: none;
                transition: 0.2s;
                &:hover:enabled {
                    cursor: pointer;
                    color: #cccccc;
                    border: 1px solid #575757;
                    background: rgba(14, 14, 14, 0.8);
                }
            }
        }
    }
}

.team {
    &-cont {
        display: flex;
        flex-direction: column;
        min-height: 0;
        position: relative;
        flex-basis: 48%;
        margin-bottom: 10px;
        padding-left: 5px;
        border-left: 2px solid rgba(29, 29, 29, 0.2);
        &-1row {
            max-height: 210px;
        }
        &-2row {
            max-height: 130px;
        }
        & p {
            flex-shrink: 1;
            margin: 0;
            color: #cccccc;
        }
        & button {
            position: absolute;
            top: 4px;
            right: 4px;
        }
    }
    &-name {
        text-decoration: underline;
        transition: 0.2s;
        &-editable:hover {
            color: #d49012 !important;
            cursor: pointer;
        }
    }
    &-add-local {
        position: absolute;
        bottom: 8px;
        left: 8px;
        & button {
            position: relative;
        }
    }
    &-players {
        flex-shrink: 1;
        min-height: 0;
        overflow: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &-player {
        &-ready {
        color: rgb(212, 144, 18, 0.7) !important;
        }
        &-reset {
            color: #380000 !important;
        }
        &-disconnected {
            color: #636363 !important;
        }
    }
}

.progress {
    flex-grow: 1;
    display: flex;
    margin: 5px 0px 5px;
    min-height: 0;
    overflow-x: auto;
    &-team{
        flex: 1;
        position: relative;
        padding: 5px 10px 0px;
        &-splitter {
            border-left: 2px solid rgba(29, 29, 29, 0.2);
        }
    }
}


.backtext {
    -webkit-user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'precursor';
    font-size: 40px;
    z-index: -1;
    color: rgba(61, 61, 61, 0.9);
    text-shadow: 0px 2px 3px rgba(51, 51, 51, 0.8);
    -webkit-background-clip: text;
    background-clip: text;
}

#connecting {
    margin: auto;
    margin-top: 50px;
    & h1 {
        display: inline-block;
        font-family: 'jak';
        color: #a56d06;
        font-size: 42px;
    }
    .spinner {
        margin: auto;
    }
}
.logs {
    margin: 70px 1px;
    & p {
        margin: 4px;
        font-family: 'jak';
        color: #b4b4b4;
        font-size: 16px;
    }
}