<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" position="end" class="sidenav" [opened]="true">
    <div class="sidenav-container">

      <!-- LOGO -->
      <div class="sidenav-content sidenav-logo">
        <img src="./assets/teamruns-logo.png" alt="image">
      </div>

      <!-- BUTTONS 1 -->
      <div class="sidenav-content sidenav-buttons sidenav-buttons-big" *ngIf="runHandler.connected && this.mainLocalPlayer && runHandler.run">
        <button [class.sidenav-buttons-big-orange]="runHandler.run.timer.runState === runState.Waiting && mainLocalPlayer.socketHandler.player?.state !== playerState.Ready"
        [class.sidenav-buttons-big-ready]="mainLocalPlayer.socketHandler.player?.state == playerState.Ready && runHandler.run.timer.runState === runState.Waiting"
        [disabled]="(runHandler.run.timer.runState !== runState.Waiting && runHandler.run.timer.runState !== runState.Started) || mainLocalPlayer.socketHandler.player?.state === playerState.Forfeit || mainLocalPlayer.socketHandler.player?.state === playerState.WantsToReset || mainLocalPlayer.user.isLaunching || (runHandler.run.timer.runState === runState.Started && mainLocalPlayer.socketHandler.localTeam === undefined) || _user.downloadHandler.isDownloading"
        (click)="runHandler.run.timer.runState === runState.Started ? forfeit() : !mainLocalPlayer.socketHandler.socketConnected ? launchGame() : toggleReady()">{{ runHandler.run.timer.runState === runState.Started ? "Forfeit" : !mainLocalPlayer.socketHandler.socketConnected ? "Launch" : "Ready" }}</button>

        <button class="sidenav-buttons-big-reset" 
        [disabled]="runHandler.run.timer.runState !== runState.Started && runHandler.run.timer.runState !== runState.Ended"
        (click)="toggleReset()">Vote Reset</button>
      </div>

      <!-- TIMER -->
      <app-run-timer class="sidenav-content" *ngIf="runHandler.connected && this.mainLocalPlayer && runHandler.run" [timer]="runHandler.run.timer"></app-run-timer>

      <!-- BUTTONS 2 -->
      <div class="sidenav-content sidenav-buttons sidenav-buttons-small" *ngIf="runHandler.connected && this.mainLocalPlayer && runHandler.run">
        <div *ngIf="mainLocalPlayer.socketHandler.player?.state !== playerState.Ready && runHandler.run.timer.runState === runState.Waiting">
          <button (click)="importRun()">Import Run</button>
        </div>
        <div *ngIf="mainLocalPlayer.socketHandler.player?.state !== playerState.Ready && runHandler.run.timer.runState === runState.Waiting">
          <button (click)="addLocalPlayer()" class="sidenav-buttons-small-local">Add Local Player</button>
        </div>
        <div>
          <button (click)="leave()" class="sidenav-buttons-small-exit">Exit Lobby</button>
        </div>
      </div>
      
      <!-- CHAT -->
      <app-chat class="sidenav-chat" *ngIf="runHandler.connected && this.mainLocalPlayer && runHandler.run" [chatMessages]="runHandler.chatMessages" (onMessage)="handleChatMessage($event)"></app-chat>

      <!-- CONNECTION LOGS -->
      <div *ngIf="(!runHandler.connected || !this.mainLocalPlayer) && runHandler.connectionHandler.localSlave" class="logs">
        <p *ngFor="let log of runHandler.connectionHandler.localSlave?.connectionLogs">{{ log }}</p>
      </div>
  

    </div>
  </mat-sidenav>

  <mat-sidenav-content class="run">
    <!-- HEADER -->
    <app-header [inRun]="runHandler.run?.timer?.runState !== runState.Waiting" [title]="(runHandler.run?.data?.name ? (runHandler.run?.data?.name + ' | ') : '' ) + runHandler.info" [hideLogo]="true"></app-header>

    <div class="run-body" *ngIf="runHandler.connected && this.mainLocalPlayer && runHandler.run">
      <!-- TEAMS -->
      <div class="run-info">
        <div class="run-info-teams">
          <div *ngFor="let team of runHandler.run.teams; let i = index" class="team-cont" [class.team-cont-1row]="runHandler.run.teams.length < 3"[class.team-cont-2row]="runHandler.run.teams.length >= 3">
            
            <div class="run-info-teams-title">
              <img *ngIf="!team.runIsValid" src="./assets/icons/finalboss-forfeit.png"  [matTooltip]="team.runInvalidReason" matTooltipPosition="below">
              <p *ngIf="this.editingTeamId !== team.id" [class.team-name-editable]="mainLocalPlayer.socketHandler.player?.state !== playerState.Ready && runHandler.run.timer.runState === runState.Waiting" (click)="editTeamName(team.id)" class="team-name">{{ team.name }}</p>
              <input *ngIf="this.editingTeamId === team.id" (focusout)="updateTeamName()" (keyup.enter)="updateTeamName()" [(ngModel)]="team.name" maxlength="16">
            </div>
            
            <button class="run-info-teams-join" *ngIf="team.id !== mainLocalPlayer.socketHandler.localTeam?.id && runHandler.run.timer.runState === runState.Waiting" (click)="switchTeam(team.id)">Join</button>
            
            <div class="team-players">
              <div *ngFor="let player of team.players">
                <p [class.team-player-disconnected]="player.state === playerState.Disconnected" [class.team-player-ready]="player.state === playerState.Ready && (runHandler.run.timer.runState === runState.Countdown || runHandler.run.timer.runState === runState.Waiting)" [class.team-player-reset]="player.state === playerState.WantsToReset">
                  <img *ngIf="player.currentLevel" class="run-info-teams-level" [src]="'./assets/levels/' + player.currentLevel + '.png'">
                  <span>{{ player.user.name }}</span>
                  <span class="run-info-teams-cells-cont"><img class="run-info-teams-cells" src="./assets/icons/cell_counter.png">{{ player.cellsCollected }}</span>
                  <span *ngIf="runHandler.lobby?.host?.user?.id && runHandler.run.timer.runState === runState.Waiting" class="run-info-teams-kick" (click)="kickPlayer(player.user)">X</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- RUN DETAILS -->
        <div class="run-info-details">
          <div class="run-info-details-host">
            <p>Host</p>
            <span>{{ runHandler.lobby?.host?.user?.name }}</span>
          </div>

          <app-run-spectators *ngIf="runHandler.connected && this.mainLocalPlayer && runHandler.run" [spectators]="runHandler.run.spectators" [isHost]="runHandler.lobby?.host?.user?.id === mainLocalPlayer.user.id" [userId]="mainLocalPlayer.user.id" (onKick)="kickPlayer($event)"></app-run-spectators>
        </div>

      </div>


      <!-- RUN SPLITS -->
      <div class="progress">
        <app-run-splits *ngFor="let team of runHandler.run.teams; let i = index" [team]="team" class="progress-team" [class.progress-team-splitter]="i !== 0"></app-run-splits>
      </div>
    </div>
    <div *ngIf="!runHandler.connected || !this.mainLocalPlayer" id="connecting">
      <h1 class="text-in-background">Connecting to Lobby</h1>
      <mat-spinner class="spinner"></mat-spinner>
    </div>

    <div class="backtext">
      <h1>theurn</h1>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>