<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" position="end" class="sidenav" [opened]="true" class="sidenav">

    <div *ngIf="(!runHandler.connected || !this.mainLocalPlayer) && runHandler.localSlave" class="logs">
      <p *ngFor="let log of runHandler.localSlave.connectionLogs">{{ log }}</p>
    </div>

    <!-- TIMER -->
    <app-run-timer *ngIf="runHandler.connected && this.mainLocalPlayer && runHandler.run !== undefined" [timer]="runHandler.run.timer"></app-run-timer>

    <app-run-spectators *ngIf="runHandler.connected && this.mainLocalPlayer && runHandler.run" [spectators]="runHandler.run.spectators" [isHost]="runHandler.lobby?.host?.id === mainLocalPlayer.user.id" [userId]="mainLocalPlayer.user.id" (onKick)="kickPlayer($event)"></app-run-spectators>
  </mat-sidenav>

  <mat-sidenav-content class="run">
    <!-- HEADER -->
    <app-header [runInfo]="runHandler.info" [inRun]="runHandler.run?.timer?.runState !== runState.Waiting" [title]="runHandler.run?.data?.name ?? ''"></app-header>

    <div class="run-body" *ngIf="runHandler.connected && this.mainLocalPlayer && runHandler.run">
      <!-- TEAMS -->
      <div class="run-info">
        <div class="run-info-teams">
          <div *ngFor="let team of runHandler.run.teams; let i = index" class="team-cont" [class.team-cont-1row]="runHandler.run.teams.length < 3"[class.team-cont-2row]="runHandler.run.teams.length >= 3">
            
            <p *ngIf="this.editingTeamId !== team.id" [class.team-name-editable]="mainLocalPlayer.state !== playerState.Ready && runHandler.run.timer.runState === runState.Waiting" (click)="editTeamName(team.id)" class="team-name">{{ team.name }}</p>
            <input *ngIf="this.editingTeamId === team.id" (focusout)="updateTeamName()" (keyup.enter)="updateTeamName()" [(ngModel)]="team.name" maxlength="16">
            
            <button *ngIf="team.id !== mainLocalPlayer.socketHandler.localTeam?.id" (click)="switchTeam(team.id)">Join</button>
            
            <div class="team-players">
              <div *ngFor="let player of team.players">
                <p [class.team-player-disconnected]="player.state === playerState.Disconnected" [class.team-player-ready]="player.state === playerState.Ready && (runHandler.run.timer.runState === runState.Countdown || runHandler.run.timer.runState === runState.Waiting)" [class.team-player-reset]="player.state === playerState.WantsToReset">
                  <img *ngIf="player.currentLevel" class="run-info-teams-level" [src]="'./assets/levels/' + player.currentLevel + '.png'">
                  <span>{{ player.user.name }}</span>
                  <span class="run-info-teams-cells-cont"><img class="run-info-teams-cells" src="./assets/icons/cell_counter.png">{{ player.cellsCollected }}</span>
                  <span *ngIf="runHandler.lobby?.host?.id === mainLocalPlayer.user.id && player.user.id !== mainLocalPlayer.user.id && runHandler.run.timer.runState === runState.Waiting" class="run-info-teams-kick" (click)="kickPlayer(player.user)">X</span>
                </p>
              </div>
              <div *ngIf="mainLocalPlayer.state !== playerState.Ready && runHandler.run.timer.runState === runState.Waiting" class="team-add-local">
                <button (click)="addLocalPlayer(team.id)">Add Local Player</button>
              </div>
            </div>
          </div>
        </div>
        <!-- READY -->
        <div class="run-info-details">
          <button [class.run-info-details-ready]="mainLocalPlayer.state == playerState.Ready && runHandler.run.timer.runState === runState.Waiting"
            [disabled]="runHandler.run.timer.runState === runState.Countdown || runHandler.run.timer.runState === runState.Ended || mainLocalPlayer.state === playerState.Forfeit || mainLocalPlayer.state === playerState.WantsToReset || !mainLocalPlayer.socketHandler.socketConnected || mainLocalPlayer.socketHandler.localTeam?.id === undefined"
            (click)="runHandler.run.timer.runState === runState.Started ? forfeit() : toggleReady()">{{ runHandler.run.timer.runState === runState.Started ? "Forfeit" : "Ready" }}</button>

            <button class="run-info-details-reset" 
            [disabled]="runHandler.run.timer.runState !== runState.Started && runHandler.run.timer.runState !== runState.Ended"
            [class.run-info-details-reset-ready]="mainLocalPlayer.state === playerState.WantsToReset"
            (click)="toggleReset()">Vote Reset</button>

          <div class="run-info-details-owner">
            <p>Host:<span>{{ runHandler.lobby?.host?.name }}</span></p>
          </div>
        </div>
      </div>


      <!-- RUN STATS -->
      <div class="progress">
        <app-run-splits *ngFor="let team of runHandler.run.teams; let i = index" [team]="team" class="progress-team" [class.progress-team-splitter]="i !== 0"></app-run-splits>
      </div>
    </div>
    <div *ngIf="!runHandler.connected || !this.mainLocalPlayer" id="connecting">
      <h1 class="text-in-background">Connecting to Lobby</h1>
      <mat-spinner class="spinner"></mat-spinner>
    </div>

    <div class="backtext">
      <h1>theurn</h1>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>