.container {
    padding: 0 10px;
    border: 1px solid #380000;
    border-radius: 4px;
    background-color: rgba(36, 36, 36, 0.7);
}

.header {
    margin-top: 5px;
    font-family: 'precursor';
    font-size: 16px;
    color: #d49012;
    text-shadow: 1px 1px #000000;
}