<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" position="end" class="sidenav" [opened]="true" class="sidenav">

    <!-- TIMER -->
    <app-run-timer [run]="runHandler.run"></app-run-timer>

    <app-run-spectators [lobby]="runHandler.lobby"></app-run-spectators>
  </mat-sidenav>

  <mat-sidenav-content class="run">
    <!-- HEADER -->
    <div class="run-header">
      <div class="info">
        <p id="version" class="text-in-background" [title]="buildVersion">{{ buildVersion }}</p>
        
        <!-- Menu -->
        <svg class="settings" matTooltip="Open menu" matTooltipPosition="above" (click)="_user.viewSettings = !_user.viewSettings" version="1.0" viewBox="0 0 119.000000 99.000000" preserveAspectRatio="xMidYMid meet">
          <g transform="translate(0.000000,99.000000) scale(0.100000,-0.100000)" stroke="none">
            <path d="M90 905 l0 -85 445 0 445 0 0 85 0 85 -445 0 -445 0 0 -85z"/>
            <path d="M90 505 l0 -85 495 0 495 0 0 85 0 85 -495 0 -495 0 0 -85z"/>
            <path d="M90 105 l0 -85 395 0 395 0 0 85 0 85 -395 0 -395 0 0 -85z"/>
          </g>
        </svg>

        <!-- Twitch Link -->
        <svg class="settings" matTooltip="Copy MultiTwitch link" matTooltipPosition="above" (click)="copyMultiTwitchLink()" version="1.0" viewBox="0 0 103.000000 119.000000" preserveAspectRatio="xMidYMid meet">
          <g transform="translate(0.000000,119.000000) scale(0.100000,-0.100000)" stroke="none">
            <path d="M67 1122 l-67 -68 0 -417 0 -417 150 0 150 0 0 -110 0 -110 28 0 c22 0 50 23 137 110 l110 110 100 0 100 0 118 118 117 117 0 368 0 367 -438 0 -438 0 -67 -68z m833 -304 l0 -263 -82 -82 -83 -83 -100 0 -99 0 -63 -62 -63 -62 0 62 0 62 -100 0 -100 0 0 312 0 312 32 33 32 33 313 0 313 0 0 -262z"/>
            <path d="M400 785 l0 -145 55 0 55 0 0 145 0 145 -55 0 -55 0 0 -145z"/>
            <path d="M700 785 l0 -145 55 0 55 0 0 145 0 145 -55 0 -55 0 0 -145z"/>
          </g>
        </svg>

        <!-- Back -->
        <svg class="settings" matTooltip="Back to lobby" matTooltipPosition="above" (click)="routeToLobby()" version="1.0" viewBox="0 0 111.000000 104.000000" preserveAspectRatio="xMidYMid meet">
          <g transform="translate(0.000000,104.000000) scale(0.100000,-0.100000)" stroke="none">
            <path d="M285 788 c-148 -139 -270 -257 -270 -263 0 -11 527 -506 546 -513 5 -2 9 80 9 187 l0 191 265 0 265 0 0 135 0 135 -265 0 -265 0 0 190 c0 105 -3 190 -7 190 -5 -1 -129 -114 -278 -252z"/>
          </g>
        </svg>

        <!-- Info -->
        <div class="info-tooltip">
          <svg class="settings" matTooltipClass="tooltip" [matTooltip]="runHandler.info" matTooltipPosition="below" version="1.0" viewBox="0 0 113.000000 122.000000" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,122.000000) scale(0.100000,-0.100000)">
              <path d="M422 1150 c-105 -28 -167 -64 -252 -150 -87 -86 -122 -147 -150 -256
              -25 -98 -25 -180 0 -278 28 -109 63 -170 150 -256 86 -87 147 -122 256 -150
              98 -25 180 -25 278 0 109 28 170 63 256 150 87 86 122 147 150 256 25 98 25
              180 0 278 -28 109 -63 170 -150 256 -86 87 -147 122 -256 150 -96 25 -187 25
              -282 0z m298 -139 c109 -41 208 -140 252 -251 31 -78 31 -232 0 -310 -44 -110
              -142 -208 -252 -252 -78 -31 -232 -31 -310 0 -341 135 -376 600 -59 785 102
              60 255 72 369 28z"/>
              <path d="M490 930 l0 -60 70 0 70 0 0 60 0 60 -70 0 -70 0 0 -60z"/>
              <path d="M490 525 l0 -265 70 0 70 0 0 265 0 265 -70 0 -70 0 0 -265z"/>
            </g>
          </svg>
        </div>

      </div>
      <div class="title">
        <div>
          <p class="text-in-background" [title]="runHandler.run?.data?.name">{{ runHandler.run?.data?.name }}</p>
        </div>
      </div>
      <div class="logo-container">
        <div class="logo">
          <img src="./assets/teamrun-logo.png" alt="image">
        </div>
      </div>
    </div>

    <div class="run-body" *ngIf="runHandler.run">
      <!-- TEAMS -->
      <div class="run-info">
        <div class="run-info-teams">
          <div *ngFor="let team of runHandler.run.teams; let i = index" class="team-cont" [class.team-cont-1row]="runHandler.run.teams.length < 3"[class.team-cont-2row]="runHandler.run.teams.length >= 3">
            <p class="team-name">{{ team.name }}</p>
            <button *ngIf="runHandler.loaded && team.name !== localPlayer.team?.name && localPlayer.state !== playerState.Ready && runHandler.run.timer.runState === runState.Waiting"
              (click)="switchTeam(team.name)">Join</button>
              <div class="team-players">
                <div *ngFor="let player of team.players">
                  <p [class.team-player-ready]="player.state === playerState.Ready && (runHandler.run.timer.runState === runState.Countdown || runHandler.run.timer.runState === runState.Waiting)" [class.team-player-reset]="player.state === playerState.WantsToReset">
                    <img *ngIf="player.user.id == localPlayer.user.id && !_user.trackerConnected" class="run-info-teams-disconnected" src="./assets/other/disconnected.png">
                    <img *ngIf="player.gameState?.onZoomer && _user.trackerConnected" class="run-info-teams-zoomer" src="./assets/other/zoomer.png">
                    <img *ngIf="player.gameState?.currentLevel && _user.trackerConnected" class="run-info-teams-level" [src]="'./assets/levels/' + player.gameState.currentLevel + '.png'">
                    <span>{{ player.user.name }}</span>
                  </p>
                </div>
              </div>
          </div>
        </div>
        <!-- READY -->
        <div class="run-info-details">
          <button [class.run-info-details-ready]="localPlayer.state == playerState.Ready && runHandler.run.timer.runState === runState.Waiting"
            [disabled]="runHandler.run.timer.runState === runState.Countdown || runHandler.run.timer.runState === runState.Ended || localPlayer.state === playerState.Forfeit || !_user.trackerConnected || !localPlayer.team"
            (click)="runHandler.run.timer.runState === runState.Started ? forfeit() : toggleReady()">{{ runHandler.run.timer.runState === runState.Started ? "Forfeit" : "Ready" }}</button>

            <button class="run-info-details-reset" 
            [disabled]="runHandler.run.timer.runState !== runState.Started && runHandler.run.timer.runState !== runState.Ended"
            [class.run-info-details-reset-ready]="localPlayer.state === playerState.WantsToReset"
            (click)="toggleReset()">Vote Reset</button>

          <div class="run-info-details-owner">
            <p>Host:<span>{{ runHandler.lobby?.host?.name }}</span></p>
          </div>
        </div>
      </div>


      <!-- RUN STATS -->
      <div class="progress">
        <app-run-splits *ngFor="let team of runHandler.run.teams; let i = index" [team]="team" class="progress-team" [class.progress-team-splitter]="i !== 0"></app-run-splits>
      </div>
    </div>
    <div *ngIf="!runHandler.run" id="error">
      <h1 class="text-in-background">Run not found!</h1>
    </div>

    <div class="backtext">
      <h1>theurn</h1>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>