<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" position="end" class="sidenav" [opened]="true" class="sidenav">

    <!-- TIMER -->
    <app-run-timer [run]="runHandler.run"></app-run-timer>

    <app-run-spectators [lobby]="runHandler.lobby"></app-run-spectators>
  </mat-sidenav>

  <mat-sidenav-content class="run">
    <!-- HEADER -->
    <div class="run-header">
      <div class="info">
        <p id="version" class="text-in-background" [title]="buildVersion">{{ buildVersion }}</p>
        <p class="settings" (click)="_user.viewSettings = !_user.viewSettings">Settings</p>
        <p class="settings back" [routerLink]='["/lobby"]'>Back</p>
      </div>
      <div class="title">
        <div>
          <p class="text-in-background" [title]="runHandler.run?.data?.name">{{ runHandler.run?.data?.name }}</p>
        </div>
      </div>
      <div class="logo-container">
        <div class="logo">
          <img src="./assets/teamrun-logo.png" alt="image">
        </div>
      </div>
    </div>

    <div class="run-body" *ngIf="runHandler.run">
      <!-- TEAMS -->
      <div class="run-info">
        <div class="run-info-teams">
          <div *ngFor="let team of runHandler.run.teams" class="team-cont">
            <p class="team-name">{{ team.name }}</p>
            <button *ngIf="team.name !== localPlayer.team && localPlayer.state !== playerState.Ready && runHandler.run.timer.runState === runState.Waiting"
              (click)="switchTeam(team.name)">Join</button>
            <div *ngFor="let player of team.players">
              <p [class.team-player-ready]="player.state === playerState.Ready && (runHandler.run.timer.runState === runState.Countdown || runHandler.run.timer.runState === runState.Waiting)" [class.team-player-reset]="player.state === playerState.WantsToReset">
                <img *ngIf="player.name == localPlayer.name && !_user.trackerConnected" class="run-info-teams-disconnected" [src]="'./assets/other/disconnected.png'">
                <img *ngIf="player.gameState?.onZoomer && _user.trackerConnected" class="run-info-teams-zoomer" [src]="'./assets/other/zoomer.png'">
                <img *ngIf="player.gameState?.currentLevel && _user.trackerConnected" class="run-info-teams-level" [src]="'./assets/levels/' + player.gameState.currentLevel + '.png'">
                <span>{{ player.name }}</span>
              </p>
            </div>
          </div>
        </div>
        <!-- READY -->
        <div class="run-info-details">
          <button [class.run-info-details-ready]="localPlayer.state == playerState.Ready"
            [disabled]="runHandler.run.timer.runState !== runState.Waiting || !_user.trackerConnected || !localPlayer.team"
            [class.run-info-details-started]="runHandler.run.timer.runState === runState.Started || runHandler.run.timer.runState === runState.Countdown" 
            (click)="toggleReady()">Ready</button>

            <button class="run-info-details-reset" 
            [disabled]="runHandler.run.timer.runState !== runState.Started"
            [class.run-info-details-reset-ready]="localPlayer.state === playerState.WantsToReset"
            (click)="toggleReset()">Vote Reset</button>

          <div class="run-info-details-owner">
            <p>Host:<span>{{ runHandler.lobby?.host }}</span></p>
          </div>
        </div>
      </div>


      <!-- RUN STATS -->
      <div class="prog">
        <app-run-team *ngFor="let team of runHandler.run.teams; let i = index" [team]="team" class="prog-team" [class.prog-team-splitter]="i !== 0"></app-run-team>
      </div>
    </div>
    <div *ngIf="!runHandler.run" id="error">
      <h1 class="text-in-background">Run not found!</h1>
    </div>

    <div class="backtext">
      <h1>theurn</h1>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>