

<div class="full-container" [style.background-color]="'#' + backgroundColor">
    <div class="obs-container" [style.height.px]="height" [style.maxheight.px]="height" [style.width.px]="width">
        <div *ngIf="runHandler && runHandler.run">
            <app-run-timer [run]="runHandler.run" [hideBorder]="!timerBorder" [hideText]="true" class="obs-timer"></app-run-timer>
        </div>
        <div *ngIf="localPlayer.team" class="obs-splits">
            <app-run-splits [team]="localPlayer.team" class="obs-splits"></app-run-splits>
        </div>
        <div *ngIf="localPlayer.team && runHandler && runHandler.run" class="obs-team-container">
            <div class="obs-team">
                <div *ngFor="let player of localPlayer.team.players">
                    <p [class.team-player-ready]="player.state === playerState.Ready && (runHandler.run.timer.runState === runState.Countdown || runHandler.run.timer.runState === runState.Waiting)" [class.team-player-reset]="player.state === playerState.WantsToReset">
                        <img *ngIf="player.gameState?.onZoomer" class="run-info-teams-zoomer" [src]="'./assets/other/zoomer.png'">
                        <img *ngIf="player.gameState?.currentLevel" class="run-info-teams-level" [src]="'./assets/levels/' + player.gameState.currentLevel + '.png'">
                        <span>{{ player.user.name }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="info">
        <p>The red line is the content border,<br /> to change height or background color adjust the values in the obs link.</p>
        <p>Obs Id: {{ _user.user.name }}</p>
    </div>
</div>
