.full-container {
    padding: 10px;
}

.info p {
    color: #380000;
    font-size: 24px;
}

.obs {
    &-container {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-top: 10px;
        border-left: 2px solid #380000;
        border-bottom: 2px solid #380000;
        padding: 14px;
        position: relative;
    }

    &-timer {
        flex-shrink: 1;
    }

    &-splits {
        flex-grow: 2;
        min-height: 0;
        margin: 2px;
    }

    &-team {
        flex-shrink: 1;
        margin: 0px 2px;
        border-top: 2px solid rgba(29, 29, 29, 0.5);
        padding: 12px 4px 2px;
        & p {
            margin: 0;
            color: #cccccccc;
        }
        &-container {
        }
    }
}


.run-info {
    flex: 2;
    display: flex;
    border-bottom: 3px solid #494949;
    &-teams {
        flex: 7;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &-zoomer {
            float: left;
            height: 17px;
            margin-top: 2px;
            margin-right: 4px;
        }
        &-level {
            float: left;
            height: 19px;
            margin-right: 4px;
        }
        &-disconnected {
            float: left;
            height: 19px;
            margin-right: 4px;
        }
    }
}