<div class="container">
  <p id="title">Menu</p>

  <div class="list-container">
    <div class="list-item" [class.list-item-disabled]="_user.isDownloading" (click)="startGame(undefined)">
      <p>Launch OpenGOAL</p>
    </div>
    @for (localUser of _user.localUsers; track localUser.user.id) {
      <div>
        @if (localUser.user.id !== _user.user.id) {
          <div class="list-item" [class.list-item-disabled]="_user.isDownloading" (click)="startGame(localUser.user)">
            <p>Launch for {{ localUser.user.name }}</p>
          </div>
        }
      </div>
    }

    <h4>Navigation</h4>
    <div class="list-item" (click)="navigate('/lobby')">
      <p>Lobbies</p>
    </div>
    @if (_user.user.hasSignedIn) {
      <div class="list-item" (click)="navigate('/history')">
        <p>Run History</p>
      </div>
    }
    <div class="list-item" (click)="navigate('/leaderboard')">
      <p>Leaderboards</p>
    </div>
    <div class="list-item" (click)="navigate('/practice')">
      <p>Recording Tool</p>
    </div>
    <div class="list-item" (click)="navigate('/install')">
      <p>Installation</p>
    </div>

    <h4>Settings</h4>
    <!--
    <div class="list-item" (click)="getObsLink()">
      <p>Copy Obs Link</p>
    </div>
    -->
    @if (_user.localUsers.length !== 0) {
      <div class="list-item" (click)="configControllers()">
        <p>Config Controllers</p>
      </div>
    }
    <div class="list-item" (click)="navigate('/settings')">
      <p>User Settings</p>
    </div>
    <div class="list-item" (click)="openInfo()">
      <p>Help / Info</p>
    </div>
    <div class="list-item" (click)="resetWindowSize()">
      <p>Reset Window Size</p>
    </div>
    @if (_user.user.hasSignedIn) {
      <div class="list-item" (click)="logout()">
        <p>Sign Out</p>
      </div>
    }
  </div>

  <h1 class="backtext text-in-background" title="Sitenav">Sitenav</h1>
  <app-footer></app-footer>
</div>