.container {
}
#title {
    margin: 8px 8px 30px;
    color: #380000;
    font-family: 'precursor';
    font-size: 32px;
}

h4 {
    margin: 30px 0 6px;
    color: #380000;
    text-decoration: underline;
    font-size: 17px;
}

.list {
    &-container {
        margin-left: 10px;
        margin-top: 40px;
    }
    &-item {
        font-family: 'Segoe UI';
        font-size: 18px;
        font-weight: bold;
        border-left: 2px solid #380000;
        padding: 7px 4px;
        margin-bottom: 8px;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            color: #d49012;
        }
        & p {
            margin: 0;
            -webkit-user-select: none;
        }
    }
}

.backtext {
    font-family: 'precursor';
    transform: rotate(90deg);
    font-size: 80px;
    margin-left: 10px;
    opacity: 0.4;
    position: absolute;
    top: 260px;
    left: -140px;
}