<mat-sidenav-container fullscreen [dragdrop]="['.json']" (fileDropped)="onFilesDrop($event)">
  <mat-sidenav mode="side" position="end" class="sidenav" [opened]="true">
    <app-run-timer></app-run-timer>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="page-container">
      <div class="page-header">
        <app-header  title="Recording Tool"></app-header>
      </div>
      <div class="page-info">
        <div class="category-container">
          <div class="category">
          </div>
          <div class="category">
            <div class="category-button" (click)="loadCheckpoint()">Load</div>
          </div>
          <div class="category">
            <div class="category-button" (click)="storeCheckpoint()">Set Checkpoint</div>
          </div>
          <div class="category">
            <div class="category-button" (click)="toggleFreecam()">{{ inFreecam ? "Normal" : "Freecam"}}</div>
          </div>
          <div class="category">
            <input type="file" id="import" multiple [accept]="['.json']" (change)="importRecordings($event)" />
            <label class="category-button" for="import">Import</label>
          </div>
        </div>
        <hr />

        <div class="category-container">
          <div class="category">
          </div>
          <div class="category category-select">
            <span>Countdown:</span>
            <input [disabled]="positionHandler.timer.runState !== runState.Waiting" type="number" min="0" [(ngModel)]="positionHandler.timer.countdownSeconds" (change)="positionHandler.timer.reset()">
          </div>
          <div class="category category-select">
            <span>Load on Record:</span>
            <mat-button-toggle-group [(ngModel)]="loadOnRecord" appearance="legacy">
              <mat-button-toggle value="true">On</mat-button-toggle>
              <mat-button-toggle value="false">Off</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="category category-select">
            <span>Rec. with Ghosts:</span>
            <mat-button-toggle-group [(ngModel)]="usePlayback" appearance="legacy">
              <mat-button-toggle value="true">On</mat-button-toggle>
              <mat-button-toggle value="false">Off</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="category category-select">
            <span>Interactive Recordings:</span>
            <mat-button-toggle-group [(ngModel)]="recordingsState" appearance="legacy">
              <mat-button-toggle [value]="multiplayerStates.interactive">On</mat-button-toggle>
              <mat-button-toggle [value]="multiplayerStates.active">Off</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>

      </div>
      <div class="page-table-container">

        <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
          <ng-container matColumnDef="player">
            <th mat-header-cell *matHeaderCellDef> Playback </th>
            <td mat-cell *matCellDef="let recording">
              <div class="playback">
                <div class="playback-button">
                  <span (click)="playRecording(recording.id)">&#x23F5;</span>
                </div>
                <mat-slider *ngIf="recording.playback.length !== 0" disabled min="0"
                  [max]="currentRecording === 'all' || currentRecording === recording.id ? recording.playback[0].time : 0">
                  <input matSliderThumb [(ngModel)]="positionHandler.timer.totalMs">
                </mat-slider>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let recording"> 
              <div class="playback-name">
                <span *ngIf="recordingBeingEdited !== recording.id" (click)="recordingBeingEdited = recording.id" class="team-name">{{ recording.nameFrontend }}</span>
                <input *ngIf="recordingBeingEdited === recording.id" (keyup.enter)="recordingBeingEdited = null" [(ngModel)]="recording.nameFrontend" maxlength="20">
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> Time </th>
            <td mat-cell *matCellDef="let recording"> {{ recording.timeFrontend }} </td>
          </ng-container>
          <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef> Options </th>
            <td mat-cell *matCellDef="let recording">
              <svg matTooltip="Download" matTooltipPosition="below" class="download" (click)="exportRecording(recording)" version="1.1" viewBox="-0.5 -0.5 113 98">
                <g>
                  <path d="M 21 19.95 L 57 19.95 L 57 0 L 91 35 L 57 70 L 57 50.05 L 21 50.05 L 21 35 Z" transform="rotate(90,56,35)"/>
                  <path class="download-lower" d="M 6 50 L 6 80 Q 6 90 16 90 L 96 90 Q 106 90 106 80 L 106 50" fill="none" stroke-width="12" stroke-miterlimit="10"/>
                </g>
              </svg>
              <span matTooltip="Remove" matTooltipPosition="below" class="delete" (click)="deleteRecording(recording.id)">X</span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr mat-row *matRowDef="let recording; columns: columns;" class="run-row"></tr>
        </table>
      </div>
      
      <div class="page-player">
        <div class="playback">
          <div class="playback-button" [class.playback-button-stop]="positionHandler.timer.runState !== runState.Waiting && replay" [class.playback-button-cancel]="positionHandler.timer.runState !== runState.Waiting && !replay">
            <span (click)="playAllRecordings()">{{ positionHandler.timer.runState !== runState.Waiting ? replay ? "&#x25A0;" : "&#x2716;" : "&#x23F5;" }}</span>
          </div>
          <div class="playback-button" [class.playback-button-record]="!replay" [class.playback-button-stop]="positionHandler.timer.runState !== runState.Waiting && !replay">
            <span (click)="positionHandler.timer.runState !== runState.Waiting ? replay ? pause() : stopRecording() : startRecording()">{{ positionHandler.timer.runState !== runState.Waiting ? replay ? recordingPaused ? "&#x23F5;" : "&#x23F8;" : "&#x25A0;" : "&#x25CF;" }}</span>
          </div>
          <mat-slider min="0" [max]="recordingsEndtime">
            <input matSliderThumb [(ngModel)]="positionHandler.timer.totalMs" [disabled]="!replay && positionHandler.timer.runState !== runState.Waiting" (dragStart)="shiftPlaybackStart()" (dragEnd)="shiftPlaybackEnd()">
          </mat-slider>
        </div>
      </div>


      <div class="backtext">
        <h1>Playback</h1>
      </div>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>