.container {
    padding: 10px 20px 30px;
    width: 280px;
    font-family: 'jak';
    font-weight: bold;
    font-size: 22px;
    border: 2px solid #1f1f1f;
    border-radius: 4px;
    background-color: rgba(34, 34, 34, 0.8);
}
::ng-deep mat-dialog-container  {
  background-color: transparent !important;
}
::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: transparent !important;
}

.option {
    & p {
        margin: 20px 4px 2px;
    }
    & input, select {
        border: 2px solid rgba(7, 7, 7, 0.8);
        background: rgba(14, 14, 14, 0.8);
        border-radius: 4px;
        height: 36px;
        width: 250px;
        transition: 0.3s;
        transition-timing-function: ease;
        color: #ffffff;
        font-size: 22px;
        font-family: 'jak';
    }
    & textarea:focus, input:focus{
        outline: none;
        border: 2px solid rgba(0, 0, 0, 1);
        background: rgba(24, 24, 24, 0.5);
    }
}

p {
    color: #b4b4b4;
}

h2 {
    margin-top: 4px;
    margin-bottom: 4px;
    color: #380000;
    font-family: 'precursor';
    font-size: 36px;
}

button {
    margin-top: 26px;
    margin-right: 12px;
    font-family: 'jak';
    font-size: 20px;
    color: #cccccc;
    height: 40px;
    width: 125px;
    background-color: #3e3e3e;
    border: 1px solid #636363;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        color: rgba(255, 255, 255, 1);
        background-color: #a56d06;
        border: 1px solid rgb(99, 99, 99, 0.6);
    }
}

.cancel {
    float: right;
    &:hover {
        background-color: #380000;
    }
}