

.page {
    &-container {
        padding: 0 0 0 40px;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        button {
            margin-top: 4px;
            margin-right: 14px;
            font-family: 'jak';
            font-size: 20px;
            color: #cccccc;
            height: 40px;
            width: 95px;
            background-color: #3e3e3e;
            border: 1px solid #636363;
            border-radius: 6px;
            outline: none;
            cursor: pointer;
            transition: 0.3s;
            &:hover:enabled {
                color: rgba(255, 255, 255, 1);
                background-color: #a56d06;
                border: 1px solid rgb(99, 99, 99, 0.6);
            }
            &:disabled {
                opacity: 0.6;
                cursor: default;
            }
        }
        & a {
            color: #1f93ff;
            &:hover {
                color: #67b5ff;
            }
        }
        & textarea:focus, input:focus{
            border: 2px solid rgba(7, 7, 7, 0.8);
            background: rgba(14, 14, 14, 0.8);
        }
    }
    &-inner {
        overflow-y: auto;
        margin-right: 60px;
        float: right;
        flex: 3;
        &-container {
            display: flex;
            margin-bottom: 20px;
        }
        &-content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            &-negative:hover:enabled {
                background-color: #380000 !important;
            }
        }
    }
    &-info {
        flex-shrink: 1;
        &-link {
            margin-left: 6px;
            color: #a56d06;
            & a {
                color: #a8a8a8;
                text-decoration: none;
                &:hover {
                    color: #380000;
                }
            }
        }
    }
}

.tabs {
    display: inline-block;
    &-button {
        font-family: 'jak';
        font-size: 24px;
        font-weight: 500;
        border: 1px solid #575757;
        border-radius: 6px;
        background-color: #000000;
        color: #f5f5f5;
        padding: 8px 20px;
        margin: 0 5px;
        margin-bottom: 6px;
        cursor: pointer;
        -webkit-user-select: none;
        transition: 0.1s;
        &:hover {
            background-color: #1b1b1b;
        }
        &-selected {
            border: 1px solid #000000;
            background-color: #b87512;
            color: #ffffff;
            &:hover {
                background-color: #a56d06;
            }
        }
    }
}

.general {
    #select {
        width: 136px;
        margin-bottom: 4px;
    }
    &-side {
        position: relative;
        flex: 2;
        margin-left: 16px;
        span {
            margin: 4px 4px 2px;
            color: #cccccc;
            font-size: 18px;
            font-family: Roboto;
        }
    }
    &-subtitle {
        font-family: 'jak';
        margin-top: 22px;
        margin-bottom: 4px;
        color: #a56d06;
        font-size: 24px;
    }
    &-option {
        margin-bottom: 26px;
        p {
            margin: 4px 4px 2px;
            color: #ccccccb9;
            font-size: 18px;
            font-family: Roboto;
        }
        & input, select {
            outline: none;
            border: 2px solid rgba(0, 0, 0, 1);
            background: rgba(24, 24, 24, 0.5);
            border-radius: 4px;
            margin-bottom: 4px;
            height: 36px;
            width: 350px;
            transition: 0.3s;
            transition-timing-function: ease;
            color: #ffffff;
            font-size: 22px;
            font-family: Roboto;
        }
    }
}

.splits {
    flex-shrink: 1;
    p {
        margin: 4px 4px 2px;
        color: #ccccccb9;
        font-size: 18px;
        font-family: Roboto;
    }
    & input, select {
        outline: none;
        border: 2px solid rgba(0, 0, 0, 1);
        background: rgba(24, 24, 24, 0.5);
        border-radius: 4px;
        margin-left: 8px;
        margin-bottom: 4px;
        height: 32px;
        width: 220px;
        transition: 0.3s;
        transition-timing-function: ease;
        color: #ffffff;
        font-size: 18px;
        font-family: Roboto;
    }
    &-button {
        flex-grow: 1;
        display: flex;
        justify-content: space-evenly;
    }
}

.taunts {
    flex-shrink: 1;
    & span {
        display: block;
        padding-top: 6px;
        padding-bottom: 20px;
        text-align: center;
        color: #cccccc;
        font-size: 20px;
        font-family: Roboto;
    }
    & b {
        margin-left: 20px;
        text-align: center;
        color: #af0f0f;
        font-size: 14px;
        font-family: Roboto;
    }
    & p {
        margin: 4px 4px 2px;
        color: #ccccccb9;
        font-size: 18px;
        font-family: Roboto;
    }
    & input, select {
        margin-left: 8px;
        margin-right: 50px;
        margin-bottom: 4px;
        height: 32px;
        width: 100px;
        font-size: 18px;
        font-family: Roboto;
        outline: none;
        border: 2px solid rgba(0, 0, 0, 1);
        background: rgba(24, 24, 24, 0.5);
        border-radius: 4px;
        transition: 0.3s;
        transition-timing-function: ease;
        color: #ffffff;
    }
    &-button {
        flex-grow: 1;
        display: flex;
        justify-content: space-evenly;
    }
}

.pointer {
    cursor: pointer;
    -webkit-user-select: none;
}

.backtext {
    transition: 0.4s;
    -webkit-user-select: none;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
    font-family: 'precursor';
    font-size: 80px;
    position: absolute;
    top: 170px;
    right:-190px;
    z-index: -1;
    color: rgba(61, 61, 61, 0.9);
    text-shadow: 0px 2px 3px rgba(51, 51, 51, 0.8);
    -webkit-background-clip: text;
    background-clip: text;
}