<div class="page-container">
    <div class="page-inner">
        <app-header title="User Settings"></app-header>
        <div class="page-info">
            <div class="tabs" *ngFor="let setting of settingsOptions">
                <div *ngIf="setting !== null" (click)="changeSettingsTab(setting)" class="tabs-button" 
                    [class.tabs-button-selected]="selectedSettingTab === setting">{{setting}}
                </div>
            </div>
          </div>
        <hr />
        <div *ngIf="selectedSettingTab === 'General'" class="page-inner-container">
            <div class="general-side">
                <h1 class="backtext text-in-background" title="Settings">Settings</h1>
                <div class="general">
                    <p class="general-subtitle">Recordings</p>
                    <mat-slide-toggle (change)="_user.writeSettings()" [(ngModel)]="_user.user.saveRecordingsLocally"><span class="pointer">Save finished runs locally</span></mat-slide-toggle>
                    <br /><br /><br /><br />
                    <p class="general-subtitle">Local recordings folder</p>
                    <div class="general-option">
                        <button id="select" (click)="openRecordings()">Open</button>
                    </div>
                    <br /><br />
                    <span>You can reset the teamruns window with CTRL + SHIFT + B</span>
                </div>
            </div>
            <div class="general">
                <div *ngIf="_user.user.hasSignedIn">
                    <p class="general-subtitle">Change Username / Leaderboard name</p>
                    <div class="general-option">
                        <p>New Username</p>
                        <input [(ngModel)]="newUsername" (keyup.enter)="updateUsername()" maxlength="20">
                        <div>
                            <button (click)="updateUsername()">Update</button>
                        </div>
                    </div>
                    <br />
                    <p class="general-subtitle">Update password</p>
                    <div class="general-option">
                        <p>New Password</p>
                        <input [(ngModel)]="newPw" type="password" (keyup.enter)="updatePassword()" maxlength="32">
                        <div>
                            <button (click)="updatePassword()">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="selectedSettingTab === 'Splits'" class="page-inner-container">
            <div class="splits">
                <div class="page-inner-content">
                    <div *ngFor="let split of splits; let i = index">
                        <p>{{ splitsDefaultNames[i] }}</p>
                        <mat-slide-toggle [(ngModel)]="split.enabled"></mat-slide-toggle>
                        <input [(ngModel)]="split.name" maxlength="40">
                    </div>
                </div>
                <div class="splits-button">
                    <button (click)="saveSplits()">Save</button>
                    <button class="page-inner-content-negative" (click)="resetSplits()">Reset</button>
                </div>
            </div>
        </div>
        <div *ngIf="selectedSettingTab === 'Taunts'" class="page-inner-container">
            <div class="taunts">
                <span>To find the right 'Taunt Code' you can use <a target="_blank" href="https://docs.google.com/spreadsheets/d/1m_wRx_fyw0UJJNvX9O7tU5GiO8S5-lqZmlsnkb0y6aY/edit?usp=sharing">this sheet</a> for reference.
                        <br>Leave the 'Display Name' blank if you want an automatically generated name!
                </span>
                <hr>
                <div class="page-inner-content">
                    <div *ngFor="let ind of tauntsUp" class="page-inner-content taunts-group">
                        <span>{{taunts[ind].input}}</span>
                        <p>Taunt Code</p>
                        <input [(ngModel)]="taunts[ind].ambient_name" maxlength="8">
                        <b *ngIf="taunts[ind].valid"></b>
                        <b *ngIf="!taunts[ind].valid">Invalid name!</b>
                        <p>Display Name</p>
                        <input [(ngModel)]="taunts[ind].menu_name" maxlength="20">
                    </div>
                </div>
                <hr>
                <div class="page-inner-content">
                    <div *ngFor="let ind of tauntsRight" class="page-inner-content taunts-group">
                        <span>{{taunts[ind].input}}</span>
                        <p>Taunt Code</p>
                        <input [(ngModel)]="taunts[ind].ambient_name" maxlength="8">
                        <b *ngIf="taunts[ind].valid"></b>
                        <b *ngIf="!taunts[ind].valid">Invalid name!</b>
                        <p>Display Name</p>
                        <input [(ngModel)]="taunts[ind].menu_name" maxlength="20">
                    </div>
                </div>
                <hr>
                <div class="page-inner-content">
                    <div *ngFor="let ind of tauntsDown" class="page-inner-content taunts-group">
                        <span>{{taunts[ind].input}}</span>
                        <p>Taunt Code</p>
                        <input [(ngModel)]="taunts[ind].ambient_name" maxlength="8">
                        <b *ngIf="taunts[ind].valid"></b>
                        <b *ngIf="!taunts[ind].valid">Invalid name!</b>
                        <p>Display Name</p>
                        <input [(ngModel)]="taunts[ind].menu_name" maxlength="20">
                    </div>
                </div>
                <hr>
                <div class="page-inner-content">
                    <div *ngFor="let ind of tauntsLeft" class="page-inner-content taunts-group">
                        <span>{{taunts[ind].input}}</span>
                        <p>Taunt Code</p>
                        <input [(ngModel)]="taunts[ind].ambient_name" maxlength="8">
                        <b *ngIf="taunts[ind].valid"></b>
                        <b *ngIf="!taunts[ind].valid">Invalid name!</b>
                        <p>Display Name</p>
                        <input [(ngModel)]="taunts[ind].menu_name" maxlength="20">
                    </div>
                </div>
                <hr>
                <div class="taunts-button">
                    <button (click)="saveTaunts()">Save</button>
                    <button class="page-inner-content-negative" (click)="resetTaunts()">Reset</button>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>