

.page {
    &-container {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        & button {
            margin-top: 4px;
            margin-right: 14px;
            font-family: 'jak';
            font-size: 20px;
            color: #cccccc;
            height: 40px;
            width: 95px;
            background-color: #3e3e3e;
            border: 1px solid #636363;
            border-radius: 6px;
            outline: none;
            cursor: pointer;
            transition: 0.3s;
            &:hover:enabled {
                color: rgba(255, 255, 255, 1);
                background-color: #a56d06;
                border: 1px solid rgb(99, 99, 99, 0.6);
            }
            &:disabled {
                opacity: 0.6;
                cursor: default;
            }
        }
        & a {
            color: #1f93ff;
            &:hover {
                color: #67b5ff;
            }
        }
        & textarea:focus, input:focus{
            border: 2px solid rgba(7, 7, 7, 0.8);
            background: rgba(14, 14, 14, 0.8);
        }
    }
    &-content {
        height: 100%;
        overflow: auto;
        box-sizing: border-box;
        margin: 0 16px 0 26px;
    }
}

.tab {
    &-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-height: 0;
    }
    &-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
        padding: 2px;
        box-sizing: border-box;
        padding: 8px;
    }
}

.general {
    &-content {
        margin: 12px 2px 24px;
        & p {
            font-family: 'OpenSans';
            color: #cccccc;
            font-size: 17px;
            margin: 0;
        }
    }
    & span {
        display: block;
        margin: 4px 4px 2px;
        color: #b4b4b4;
        font-size: 16px;
        font-family: Roboto;
    }
    & input, select {
        outline: none;
        border: 2px solid rgba(0, 0, 0, 1);
        background: rgba(24, 24, 24, 0.5);
        border-radius: 5px;
        margin-right: 8px;
        height: 36px;
        width: 350px;
        transition: 0.3s;
        transition-timing-function: ease;
        color: #ffffff;
        font-size: 22px;
        font-family: Roboto;
    }

    #select {
        width: 136px;
    }
}

.splits {
    flex-shrink: 1;
    p {
        margin: 4px 4px 2px;
        color: #ccccccb9;
        font-size: 18px;
        font-family: Roboto;
    }
    & input, select {
        outline: none;
        border: 2px solid rgba(0, 0, 0, 1);
        background: rgba(24, 24, 24, 0.5);
        border-radius: 4px;
        margin-left: 8px;
        margin-bottom: 4px;
        height: 32px;
        width: 220px;
        transition: 0.3s;
        transition-timing-function: ease;
        color: #ffffff;
        font-size: 18px;
        font-family: Roboto;
    }
    &-button {
        flex-grow: 1;
        display: flex;
        justify-content: space-evenly;
    }
}

.taunts {
    flex-shrink: 1;
    & span {
        display: block;
        padding-top: 6px;
        padding-bottom: 20px;
        text-align: center;
        color: #cccccc;
        font-size: 20px;
        font-family: Roboto;
    }
    & p {
        margin: 4px 4px 2px;
        color: #ccccccb9;
        font-size: 18px;
        font-family: Roboto;
    }
    & input, select {
        margin-left: 8px;
        margin-right: 50px;
        margin-bottom: 0px;
        height: 32px;
        width: 100px;
        font-size: 18px;
        font-family: Roboto;
        outline: none;
        border: 2px solid rgba(0, 0, 0, 1);
        background: rgba(24, 24, 24, 0.5);
        border-radius: 4px;
        transition: 0.3s;
        transition-timing-function: ease;
        color: #ffffff;
    }
    &-button {
        flex-grow: 1;
        display: flex;
        justify-content: space-evenly;
    }
    &-group {
        & span {
            color: #c78100;
            text-align: left;
            padding: 0px;
        } 
        & b {
            margin-left: 10px;
            min-height: 20px;
            text-align: left;
            color: #af0f0f;
            font-size: 14px;
            font-family: Roboto;
        }
        flex-direction: column;
        justify-content: space-evenly;
    }
}

.pointer {
    cursor: pointer;
    -webkit-user-select: none;
}

.backtext {
    transition: 0.4s;
    -webkit-user-select: none;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
    font-family: 'precursor';
    font-size: 72px;
    position: absolute;
    top: 170px;
    right:-140px;
    z-index: -1;
    color: rgba(61, 61, 61, 0.9);
    text-shadow: 0px 2px 3px rgba(51, 51, 51, 0.8);
    -webkit-background-clip: text;
    background-clip: text;
}


::ng-deep .mdc-tab__text-label {
    color: #cccccc !important;
}

::ng-deep .mat-ripple {
    
}

::ng-deep .mat-mdc-tab {
    min-width: 140px !important;
}

::ng-deep .mat-mdc-tab-list {
    border-bottom: 2px solid #383838;
}