#draggable-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 45px;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    z-index: 8;
    -webkit-user-select: none;
    -webkit-app-region: drag;

}

mat-sidenav-container {
    border-radius: 4px;
}

mat-sidenav {
    background-color: #4e4e4e;
    width: 200px;
}