
<mat-sidenav-container fullscreen>
  <mat-sidenav mode="over" [opened]="_user.viewSettings" (closedStart)="_user.viewSettings = false">
      <app-nav-board></app-nav-board>
  </mat-sidenav>

  <mat-sidenav-content>

    <div *ngIf="!_user.isBrowser" id="draggable-header-container">
      <div id="draggable-header"></div>
      <div id="draggable-header-buttons">
        <span (click)="minimize()">&mdash;</span>
        <span (click)="close()">&#x2715;</span>
      </div>
    </div>

      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>