#draggable-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 45px;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    z-index: 10;
    -webkit-user-select: none;
    -webkit-app-region: drag;

}
.sidenav {
    width: 15%;
    max-width: 220px;
    min-width: 190px;
}

mat-sidenav-container {
    border-radius: 4px;
}

.containter {
    background-color: red;
}