

.page {
    &-container {
        padding: 0 0 0 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    &-header {
        flex-shrink: 1;
    }
    &-info {
        padding-right: 20px;
        flex-shrink: 1;
    }
    &-table {
        &-container {
            overflow: auto;
            flex-grow: 1;
            margin: 0px 12px 46px;
        }
    }
    &-player {
        border-top: 2px solid #383838;
        flex-shrink: 1;
        margin-right: 20px;
        margin-bottom: 8px;

        & .playback-button {
            flex-shrink: 1;
            margin-right: 8px;
            text-align: center;
    
            & div {
                -webkit-user-select: none;
                border: 3px solid #a8a8a8;
                width: 26px;
                height: 26px;
                font-size: 26px;
                line-height: 25px;
                color: #a8a8a8;
                transition: 0.25s;
                &:hover {
                    color: #a56d06;
                    border: 3px solid #a56d06;
                    cursor: pointer;
                }
            }

            &-play div {
                line-height: 22px !important;

                & span {
                    padding-left: 3px;
                    font-size: 20px;
                }
            }

            &-pause div {
                font-size: 14px;
                & span {
                    padding-top: 10px;
                }
            }

            &-stop div {
                line-height: 23px !important;
                color: #380000;
                border: 3px solid #380000;
                font-size: 20px;
            }

            &-record div {
                line-height: 22px;
                color: #920000 !important;
                border: 3px solid #920000 !important;
            }

            &-cancel div {
                font-size: 21px;
                line-height: 24px;
                color: #380000;
                border: 3px solid #380000;
            }
        }
    }
    
}
.playback-button-play-small div {
    line-height: 18px !important;
    & span {
        padding-left: 2px;
        font-size: 20px !important;
    }
}

hr {
    margin: 3px !important;
}

.category {
    flex-shrink: 1;

    &-container {
        display: flex;
        flex-wrap: wrap;
    }
    &-button {
        display: inline-block;
        border: 1px solid #575757;
        border-radius: 6px;
        background-color: #000000;
        color: #f5f5f5;
        padding: 7px 15px;
        margin: 0 4px;
        margin-bottom: 6px;
        cursor: pointer;
        -webkit-user-select: none;
        transition: 0.1s;
        &:hover {
            background-color: #1b1b1b;
        }
        &-selected {
            border: 1px solid #a56d06;
            background-color: #b87512;
            color: #ffffff;
            &:hover {
                background-color: #a56d06;
            }
        }
    }
    & #import {
        display: none;
    }
    &-select {
        position: relative;
        margin: 4px 10px 0;
        padding-top: 18px;
        & span {
            position: absolute;
            z-index: 5;
            color: #f5f5f5;
            top: 0;
            left: 0;
            white-space: nowrap;
            font-size: 15px;
        }
        & input, select {
            border: 2px solid rgba(7, 7, 7, 0.8);
            background: rgba(14, 14, 14, 0.8);
            border-radius: 4px;
            height: 26px;
            width: 70px;
            transition: 0.3s;
            transition-timing-function: ease;
            color: #ffffff;
            font-size: 18px;
            font-family: 'jak';
        }
        & textarea:focus, input:focus {
            outline: none;
            border: 2px solid rgba(0, 0, 0, 1);
            background: rgba(24, 24, 24, 0.5);
        }
    }
}

.playback {
    display: flex;
    flex-wrap: nowrap;

    &-button {
        flex-shrink: 1;
        margin-right: 8px;
        text-align: center;

        & div {
            -webkit-user-select: none;
            display: inline-block;
            width: 21px;
            height: 21px;
            border-radius: 21px;
            font-size: 21px;
            line-height: 21px;
            margin-top: 11px;
            border: 2px solid #a8a8a8;
            transition: 0.15s;
            &:hover {
                color: #a56d06;
                border: 2px solid #a56d06;
                cursor: pointer;
            }
        }
    }
    & mat-slider {
        flex-grow: 1;
        margin-left: 12px;
    }

    &-name {
        & span {
            transition: 0.15s;
            &:hover {
                cursor: pointer;
                color: #a56d06;
            }
        }
        & input {
            max-width: 100px;
        }
    }
}

.download {
    height: 18px;
    & g {
        fill: #929292;
        transition: 0.22s;
    }
    &:hover {
        cursor: pointer;
        & g {
            fill: #a56d06;
        }
        & .download-lower {
            stroke: #a56d06;
        }
    }
    &:focus {
        outline: none;
    }
    &-lower {
        transition: 0.22s;
        stroke: #929292;
        &:focus {
            outline: none;
        }
    }
}
  
.fileover .backtext {
    color: #929292 !important;
  }
  
  .wrongfileover .backtext {
    color: #380000 !important;
  }

.delete {
    margin-left: 12px;
    font-size: 26px;
    font-family: 'jak';
    color: #380000;
    transition: 0.3s;
    &:hover {
        color: #d49012;
        cursor: pointer;
    }
}

h2 {
    margin: 0;
    margin-bottom: 4px;
}
hr {
    border-color: #575757;
    margin: 10px 0 16px;
}

.sidenav {
    padding: 30px 0 0 8px;
    width: 300px;
    background: rgba(0, 0, 0, 0);
}
.run-sidenav {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    height: 100%;
    &-timer {
        flex-shrink: 1;
    }
    &-checkpoints {
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }
}

.backtext {
    transition: 0.4s;
    -webkit-user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'precursor';
    font-size: 40px;
    z-index: -1;
    color: rgba(61, 61, 61, 0.9);
    text-shadow: 0px 2px 3px rgba(51, 51, 51, 0.8);
    -webkit-background-clip: text;
    background-clip: text;
}

table {
    width: 100%;
  }
td {
    color: #a8a8a8 !important;
}
tr.run-expanded-row {
height: 0;
}
tr.run-row {
    transition: 0.2s;
}
tr.run-row-selected {
    background-color: rgba(204, 204, 204, 0.1) !important;
}

tr.run-row:active {
    background-color: rgba(204, 204, 204, 0.2);
}

.mat-mdc-row:nth-child(2n+1){
    background-color: rgba(0, 0, 0, 0.05);
}
.mat-mdc-row:nth-child(even){
    background-color: rgba(0, 0, 0, 0.09);
}

tr.run-row:nth-child(2n+1):hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: default;
}

tr.run-row:nth-child(even):hover {
    background-color: rgba(0, 0, 0, 0.09);
    cursor: default;
}

.mat-column-player {
  min-width: 200px !important;
}

.mat-button-toggle{
    background-color: #383838;
    color: #ffffff;
    border: 1px solid #575757;
    height: 31px;
}

.mat-button-toggle:hover {
    background-color: #835a0e;
    color: #ffffff !important;    
}

.mat-button-toggle-checked {
    background-color: #b87512;
    color: #ffffff !important;
}

.run-row td {
border-bottom-width: 0;
}


.mat-mdc-table {
    background: none !important;
}

.mat-mdc-row {
    height: 42px !important;
}

.mat-mdc-header-cell {
    color: #a56d06 !important;
    border-bottom: 1px solid #b87512;
}