.container {
    max-height: 100%;
    padding: 20px 10px;
}

.title {
    -webkit-user-select: none;
    font-family: 'jak';
    font-size: 22px;
    margin: 4px;
    color: #d49012;
}

.backtext {
    font-family: 'precursor';
    transform: rotate(90deg);
    font-size: 80px;
    margin-left: 150px;
}


.nicetext {
    -webkit-user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    font-family: 'precursor';
    font-size: 40px;
    z-index: -1;
    color: #494949;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.8);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}