

.header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    top: 40px;
    right: 80px;
    & .info {
        display: inline-block;
        display: flex;
        flex: 5;
        height: 100%;
        & #version {
            font-family: 'OpenSans';
            font-size: 16px;
            width: 4px;
            white-space: nowrap;
            display: block;
            margin: 0;
            margin-left: -8px;
            & span {
                display: block;
                line-height: 17px;
                padding-left: 8px;
            }
        }
        & .settings {
            height: 22px;
            margin-right: 8px;
            margin-top: 44px;
            & g {
                fill: #929292;
                transition: 0.22s;
            }
            &:hover {
                cursor: pointer;
                & g {
                    fill: #a56d06;
                }
            }
            &:focus {
                outline: none;
            }
        }
        & .title {
            margin-left: 14px;
            margin-top: 18px;
            color: #696969;
            &-run {
                font-family: "Jak";
            }
        }
    }
    & .options {
        position: absolute;
        margin-left: auto;
        bottom: 0; 
        &-container {
            position: relative;
            display: flex;
            flex: 8;
            height: 100%;
        }
        & button {
            font-family: 'jak';
            font-size: 18px;
            color: #acacac;
            height: 52px;
            width: 92px;
            background-color: rgba(20, 20, 20, 0.9);
            border: 1px solid #a56d06;
            border-radius: 6px;
            outline: none;
            cursor: pointer;
            margin: 0px 10px;
            z-index: 9;
            transition: 0.3s;
            &:hover {
                color: rgba(255, 255, 255, 1);
                background-color: #380000;
            }
        }
    }
    & .logo {
        &-container {
            display: flex;
            justify-content: center;
            flex: 2;
            height: 100%;
            padding-top: 10px;
        }
        & img {
            user-drag: none;
            -webkit-user-drag: none;
            user-select: none;
            -webkit-user-select: none;
            max-width: 100px;
            max-height:100%;
        }
    }
}