<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" position="end" class="sidenav" [opened]="true" class="sidenav">
  
      <div *ngIf="!runHandler.connected && !this.mainLocalPlayer && runHandler.localSlave" class="logs">
        <p *ngFor="let log of runHandler.localSlave.connectionLogs">{{ log }}</p>
      </div>
  
      <!-- SAVES -->
      <app-save-loader *ngIf="runHandler.lobby?.host?.id === mainLocalPlayer?.user?.id" [hideFiles]="hasLoadedFile" (onLoadSave)="loadSave($event)"></app-save-loader>
    </mat-sidenav>
  
    <mat-sidenav-content class="run">
      <!-- HEADER -->
      <app-header [runInfo]="runHandler.info" [inRun]="this.mainLocalPlayer?.teamId != null" [title]="runHandler.run?.data?.name ?? ''"></app-header>
  
      <div class="run-body" *ngIf="runHandler.connected && this.mainLocalPlayer && runHandler.run">
        <!-- TEAMS -->
        <div class="run-info">
          <div class="run-info-teams">
            <div *ngFor="let team of runHandler.run.teams; let i = index" class="team-cont" [class.team-cont-1row]="runHandler.run.teams.length < 3"[class.team-cont-2row]="runHandler.run.teams.length >= 3">
              
              <div class="team-players">
                <div *ngFor="let player of team.players">
                  <p [class.team-player-disconnected]="player.state === playerState.Disconnected">
                    <img *ngIf="player.currentLevel" class="run-info-teams-level" [src]="'./assets/levels/' + player.currentLevel + '.png'">
                    <span>{{ player.user.name }}</span>
                    <span class="run-info-teams-cells-cont"><img class="run-info-teams-cells" src="./assets/icons/cell_counter.png">{{ player.cellsCollected }}</span>
                    <span *ngIf="runHandler.lobby?.host?.id === mainLocalPlayer.user.id && player.user.id !== mainLocalPlayer.user.id" class="run-info-teams-kick" (click)="kickPlayer(player.user)">X</span>
                  </p>
                </div>
                <div class="team-add-local">
                  <button (click)="addLocalPlayer(team.id)">Add Local Player</button>
                </div>
              </div>
            </div>
          </div>
          <!-- READY -->
          <div class="run-info-details">
            <div class="run-info-details-owner">
              <p>Host:<span>{{ runHandler.lobby?.host?.name }}</span></p>
            </div>
          </div>
        </div>
  
  
        <!-- RUN STATS -->
        <div class="progress">
          <p class="progress-header">Collectables</p>
          <div class="progress-stats">
            <div *ngFor="let team of runHandler.run.teams">
              <span class="progress-stats-icon-cont"><img class="progress-stats-icon" src="./assets/icons/cell_counter.png">{{ team.runState.cellCount }}</span>
              <span class="progress-stats-icon-cont"><img class="progress-stats-icon" src="./assets/icons/fly_counter.png">{{ team.runState.buzzerCount }}</span>
              <span class="progress-stats-icon-cont"><img class="progress-stats-icon" src="./assets/icons/orb_counter.png">{{ team.runState.orbCount }}</span>
            </div>
          </div>
            <div class="progress-info">
              <p>Grabbing a power cell or saving before loading a file from the side menu will create a new save file with the name of the lobby as the save name. NOTE! There is currently no overwrite protection.</p>
              <br />
              <p>To end a session save your game ingame, this will save the game to your local pc.</p>
              <p>Note that another player saving will only save the game to their pc. When loading you only have access to your own saves.</p>
            </div>
        </div>
      </div>
      <div *ngIf="!runHandler.connected && !this.mainLocalPlayer" id="connecting">
        <h1 class="text-in-background">Connecting to Lobby</h1>
        <mat-spinner class="spinner"></mat-spinner>
      </div>
  
      <div class="backtext">
        <h1>theurn</h1>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>