<div class="container">
    <p id="title">Config</p>

    <div class="list-container">
        <div class="list-item" (click)="startGame()">
            <p>Launch OpenGOAL</p>
        </div>
        <div class="list-item" (click)="openPathConfig()">
            <p>Config Folder Path</p>
        </div>
        <div class="list-item" (click)="openInfo()">
            <p>Help / Info</p>
        </div>
    </div>

    <h1 class="backtext text-in-background" title="Settings">Settings</h1>
    <p id="name" class="text-in-background" [title]="_user.getName()">{{ _user.getName() }}</p>
</div>