<div class="container">
    <p id="title">Menu</p>

    <div class="list-container">
        <div class="list-item" (click)="startGame(undefined)">
            <p>Launch OpenGOAL</p>
        </div>
        <div *ngFor="let user of _user.localUsers">
            <div *ngIf="user.user.id !== _user.user.id" class="list-item" (click)="startGame(user.socketHandler.socketPort)">
                <p>Launch for {{ user.user.name }}</p>
            </div>
        </div>

        <h4>Navigation</h4>
        <div class="list-item" (click)="navigate('/lobby')">
            <p>Lobbies</p>
        </div>
        <div *ngIf="_user.user.hasSignedIn" class="list-item" (click)="navigate('/history')">
            <p>Runs History</p>
        </div>
        <div class="list-item" (click)="navigate('/leaderboard')">
            <p>Leaderboards</p>
        </div>
        <div class="list-item" (click)="navigate('/practice')">
            <p>Recording Tool</p>
        </div>
        <div class="list-item" (click)="openInfo()">
            <p>Help / Info</p>
        </div>
        <div class="list-item" (click)="navigate('/settings')">
            <p>Settings</p>
        </div>

        <h4>Options</h4>
        <!--
        <div class="list-item" (click)="getObsLink()">
            <p>Copy Obs Link</p>
        </div>
        -->
        <div *ngIf="_user.localUsers.length !== 0" class="list-item" (click)="configControllers()">
            <p>Config Controllers</p>
        </div>
        <div class="list-item" (click)="resetWindowSize()">
            <p>Reset Window Size</p>
        </div>
    </div>

    <h1 class="backtext text-in-background" title="Sitenav">Sitenav</h1>
    <p id="name" class="text-in-background" [title]="_user.user.name">{{ _user.user.name }}</p>
</div>