<div class="container">
  <p class="title">Chat</p>

  <div class="chat-container">
    <div class="chat-window">
      @for (message of chatMessages; track message.id) {
        <div class="chat-message">
          <p [ngStyle]="{'color': message.color}">@if (message.username) {
            <span>{{ message.username }}: </span>
            }<span>{{ message.text }}</span></p>
          </div>
        }
      </div>
      <input class="chat-input" maxlength="500" [(ngModel)]="message" (keyup.enter)="sendMessage()">
    </div>
  </div>