

.container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.tab {
    &-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-height: 0;
    }
    &-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
        padding: 2px;
        box-sizing: border-box;
        padding: 8px;
    }
}

.table-container {
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    margin: 0 26px;
}

.mods {
    color: #cccccc;
    font-size: 15px;
    font-family: OpenSans;
    margin: 24px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    &-box {
        flex: 0 0 1; /* flex-grow, flex-shrink, flex-basis */
        height: 200px;
        width: 160px;
        background-size: cover;
        background-position: center;
        display: flex;
        &-container {
            margin: 6px;
            cursor: pointer;
            border: 2px solid rgb(0, 0, 0, 0.0);
            transition: 0.2s;
            &:hover {
                border: 2px solid #d49012;
            }
        }
        p {
            text-align: center;
            align-self: flex-end;
            width: 100%;
            color: #ffffff;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            margin: 4px;
        }
    }
    &-page {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
    }
}

.dev-container {
    display: flex;
    align-items: center;
    color: #cccccc;
    font-size: 16px;
    font-family: OpenSans;
    margin-top: 24px;
    &-content {
        & button {
            width: 125px;
        }
        &-verification {
            width: 40px;
            height: 40px;
            stroke-width: 4;
            stroke-miterlimit: 10;
            stroke-dashoffset: 0;
            &-checkmark {
                stroke: #00ef00;
            }
            &-cross {
                stroke: #ef0000;
            }
        }
    }
    
}

button {
    margin: 6px;
    font-family: 'jak';
    font-size: 20px;
    color: #cccccc;
    height: 40px;
    width: 125px;
    background: rgba(14, 14, 14, 0.8);
    border: 1px solid #636363;
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
    &:not([disabled]):hover {
        cursor: pointer;
        color: rgba(255, 255, 255, 1);
        background-color: #a56d06;
        border: 1px solid rgb(99, 99, 99, 0.6);
    }
}

input, select {
    border: 2px solid rgba(7, 7, 7, 0.8);
    background: rgba(14, 14, 14, 0.8);
    border-radius: 4px;
    height: 36px;
    width: 250px;
    transition: 0.3s;
    transition-timing-function: ease;
    color: #ffffff;
    font-size: 18px;
    font-family: 'OpenSans';
}
textarea:focus, input:focus{
    outline: none;
    border: 2px solid rgba(0, 0, 0, 1);
    background: rgba(24, 24, 24, 0.5);
}

.dropbox-container {
    margin: 50px 50px;
    & button {
        font-family: 'jak';
        font-size: 32px;
        color: #b87512;
        margin: 0;
        height: 96px;
        width: 212px;
        flex-shrink: 1;
        background: rgba(0,0,0,0.4);
        border: 2px solid #b87512;
        border-radius: 6px;
        outline: none;
        text-decoration: underline;
        transition: 0.15s;
        &:hover {
            cursor: pointer;
            color: #d49012;
            border: 1px solid rgb(99, 99, 99, 0.6);
        }
    }
}
.fileover .dropbox {
    color: #d49012 !important;
    border: 1px solid rgba(214, 214, 214, 0.6);
  }
  
  .wrongfileover .dropbox {
    color: #380000 !important;
    border: 1px solid #380000 !important;
  }

.download {
    height: 18px;
    fill: #929292;
    cursor: pointer;
    transition: 0.22s;
    &:hover {
      fill: #a56d06;
        & .download-lower {
            stroke: #a56d06;
        }
    }
    &-lower {
        transition: 0.22s;
        stroke: #929292;
    }
}

.warning {
    height: 16px;
    margin-left: 10px;
    fill: #e40000;
    cursor: pointer;
    transition: 0.22s;
    &:hover {
      fill: #e65555;
    }
}

.github {
    height: 28px;
    fill: #cccccc;
    transition: 0.22s;
    cursor: pointer;
    &:hover {
      fill: #f06903;
    }
}

table {
    width: 100%;
  }
td {
    color: #a8a8a8 !important;
}
tr.row {
    transition: 0.2s;
&:hover {
    background-color: rgba(75, 75, 75, 0.2);
}
& td {
    border-bottom-width: 0;
    }
}

.mat-mdc-row:nth-child(2n+1){
  background-color: rgba(0, 0, 0, 0.05);
}
.mat-mdc-row:nth-child(even){
  background-color: rgba(0, 0, 0, 0.19);
}


.mat-mdc-table {
  background-color: rgba(0, 0, 0, 0.3);
}

.mat-mdc-row {
    height: 42px !important;
}

.mat-mdc-header-cell {
    color: #a56d06 !important;
    border-bottom: 1px solid #b87512;
    background-color: #101010 !important;
}

::ng-deep .mdc-tab__text-label {
    color: #cccccc !important;
}

::ng-deep .mat-ripple {
    border-bottom: 2px solid #383838;
}




.mat-button-toggle{
    background-color: #383838;
    color: #ffffff;
    border: 1px solid #575757;
    height: 31px;
}

.mat-button-toggle:hover {
    background-color: #835a0e;
    color: #ffffff !important;    
}

.mat-button-toggle-checked {
    background-color: #b87512;
    color: #ffffff !important;
}