<div #blackscreen class="blackscreen"></div>
<div class="logo">
    <img src="./assets/teamruns-full-logo.png" alt="image">
</div>

<div class="install">
    <div *ngIf="isoInstallView">
        <div class="dropbox-container" [dragdrop]="['.iso']" (fileDropped)="onFilesDrop($event)">
            <button class="dropbox" (click)="selectPath(true)">Drop iso</button>
        </div>
    </div>
    <mat-tab-group *ngIf="!isoInstallView" dynamicHeight [selectedIndex]="tab">
        <mat-tab label="Launcher">
            <div class="table-container">
                <table mat-table [dataSource]="clientReleaseSource" multiTemplateDataRows>
                    <ng-container matColumnDef="download">
                      <th mat-header-cell *matHeaderCellDef> </th>
                      <td mat-cell *matCellDef="let release; let index = dataIndex;">
                        <svg *ngIf="release.name !== clientVersion" matTooltip="Download" matTooltipPosition="below" class="download" (click)="installClient(release.tag_name)" version="1.1" viewBox="-0.5 -0.5 113 98">
                            <g>
                                <path d="M 21 19.95 L 57 19.95 L 57 0 L 91 35 L 57 70 L 57 50.05 L 21 50.05 L 21 35 Z" transform="rotate(90,56,35)"/>
                                <path class="download-lower" d="M 6 50 L 6 80 Q 6 90 16 90 L 96 90 Q 106 90 106 80 L 106 50" fill="none" stroke-width="12" stroke-miterlimit="10"/>
                            </g>
                        </svg>
                        <svg *ngIf="index !== 0 && release.name !== clientVersion" matTooltip="Installing outdated launchers may cause compatibility issues!" matTooltipPosition="below" class="warning" fill="red" viewBox="0 0 16 16">
                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                        </svg>
                        <div *ngIf="release.name == clientVersion">
                            <span class="installed-text">Installed!</span>
                        </div>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="version">
                      <th mat-header-cell *matHeaderCellDef> Version </th>
                      <td mat-cell *matCellDef="let release"> {{ release.name }}</td>
                    </ng-container>
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Date </th>
                        <td mat-cell *matCellDef="let release"> {{ release.published_at | date:'dd/MM/yy' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="changes">
                        <th mat-header-cell *matHeaderCellDef> Changes </th>
                        <td mat-cell *matCellDef="let release"><a target="_blank" [href]="'https://github.com/JoKronk/teamruns-client/releases/tag/' + release.tag_name">Changes</a></td>
                    </ng-container>
        
                  <tr mat-header-row *matHeaderRowDef="columns"></tr>
                  <tr mat-row *matRowDef="let release; columns: columns;" class="run-row"></tr>
                </table>
            </div>
        </mat-tab>
        <mat-tab label="Game">
            <div class="version-mod">
                <select>
                    <option>Teamruns</option>
                    <option disabled>Other Future Mod</option>
                </select>
            </div>
            <div class="table-container">
              <table mat-table [dataSource]="gameReleaseSource" multiTemplateDataRows>
                  <ng-container matColumnDef="download">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let release; let index = dataIndex;">
                      <svg *ngIf="release.name !== _user.user.gameVersion" matTooltip="Download" matTooltipPosition="below" class="download" (click)="installGameVersion(release.name)" version="1.1" viewBox="-0.5 -0.5 113 98">
                          <g>
                          <path d="M 21 19.95 L 57 19.95 L 57 0 L 91 35 L 57 70 L 57 50.05 L 21 50.05 L 21 35 Z" transform="rotate(90,56,35)"/>
                          <path class="download-lower" d="M 6 50 L 6 80 Q 6 90 16 90 L 96 90 Q 106 90 106 80 L 106 50" fill="none" stroke-width="12" stroke-miterlimit="10"/>
                          </g>
                      </svg>
                      <svg *ngIf="index !== 0 && release.name !== _user.user.gameVersion" matTooltip="Installing outdated game versions may cause compatibility issues!" matTooltipPosition="below" class="warning" fill="red" viewBox="0 0 16 16">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                    </svg>
                      <div *ngIf="release.name == _user.user.gameVersion">
                          <span class="installed-text">Installed!</span>
                      </div>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="version">
                    <th mat-header-cell *matHeaderCellDef> Version </th>
                    <td mat-cell *matCellDef="let release"> {{ release.name }}</td>
                  </ng-container>
                  <ng-container matColumnDef="date">
                      <th mat-header-cell *matHeaderCellDef> Date </th>
                      <td mat-cell *matCellDef="let release"> {{ release.published_at | date:'dd/MM/yy' }}</td>
                  </ng-container>
                  <ng-container matColumnDef="changes">
                      <th mat-header-cell *matHeaderCellDef> Changes </th>
                      <td mat-cell *matCellDef="let release"><a target="_blank" [href]="'https://github.com/JoKronk/teamruns-jak-project/releases/tag/' + release.tag_name">Changes</a></td>
                  </ng-container>
      
                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let release; columns: columns;" class="run-row"></tr>
              </table>
            </div>
        </mat-tab>
        <mat-tab label="Mods">
            <div class="mods">
                <div class="mods-section">
                    <p>Mods <br/>Coming at some point..</p>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Development">
            <div class="mods">
                <div class="mods-section">
                    <span>Install unofficial mod</span>
                    <div>
                        <input placeholder="Github URL">
                        <button (click)="selectPath(false)">Install</button>
                    </div>
                </div>
                <div class="mods-section">
                    <div class="mods-toggle">
                        <span>Toggle local development mode.</span>
                        <mat-slide-toggle [(ngModel)]="_user.user.clientInDevMode" onchange="writeSetting()"></mat-slide-toggle>
                    </div>
                    <div *ngIf="_user.user.clientInDevMode" class="mods-dev">
                        <p>OpenGOAL Install Path:</p>
                        <p>{{ _user.user.ogFolderpath }}</p>
                        <div class="dev-container">
                            <button class="dev-container-content" (click)="selectPath(false)">Change</button>
                            <button *ngIf="_user.user.gameVersion" class="dev-container-content" (click)="checkForInstall()">Verify path</button>
                            <svg xmlns="http://www.w3.org/2000/svg" class="dev-container-content-verification" viewBox="0 0 40 40">
                                <path *ngIf="pathVerificationStatus === 1" class="dev-container-content-verification-checkmark" fill="#00ef00" d="M15.45 32.139L8.125 23.344a2.168 2.168 0 1 1 3.326 -2.77l5.336 6.406L28.329 6.989a2.166 2.166 0 0 1 3.753 2.168L18.987 32.139a2.168 2.168 0 0 1 -3.537 0z"/>
                                <path *ngIf="pathVerificationStatus === 2" class="dev-container-content-verification-cross" fill="#ef0000" d="M10.039 6.386 19.997 16.344l9.905 -9.905A2.453 2.453 0 0 1 31.661 5.666a2.666 2.666 0 0 1 2.666 2.666 2.4 2.4 0 0 1 -0.72 1.76L23.57 19.997l10.038 10.038A2.4 2.4 0 0 1 34.328 31.661a2.666 2.666 0 0 1 -2.666 2.666 2.453 2.453 0 0 1 -1.84 -0.72L19.997 23.65l-9.931 9.931A2.453 2.453 0 0 1 8.332 34.328a2.666 2.666 0 0 1 -2.666 -2.666 2.4 2.4 0 0 1 0.72 -1.76L16.424 19.997 6.386 9.959A2.4 2.4 0 0 1 5.666 8.332a2.666 2.666 0 0 1 2.666 -2.666c0.64 0.008 1.253 0.267 1.706 0.72"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>
                
<div class="install-bottom">
    <button (click)="routeBack()">Back</button>
</div>

<video #video autoplay muted loop id="bg-video">
    <source src="./assets/startup-bg.mp4" type="video/mp4">
</video>

