.container {
  padding: 10px 20px;
  width: 380px;
  font-family: 'jak';
  font-weight: bold;
  font-size: 22px;
  border: 2px solid #1f1f1f;
  border-radius: 4px;
  background-color: rgba(34, 34, 34, 0.8);
}

::ng-deep mat-dialog-container  {
background-color: transparent !important;
}
::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: transparent !important;
}

#title {
  font-family: 'precursor';
  color: #380000;
  position: absolute;
  top: -14px;
  left: 6px;
}

.option {
  margin-left: 46px;
  & p {
      margin: 32px 4px 2px;
      color: #b4b4b4;
  }
  & input, select {
      border: 2px solid rgba(7, 7, 7, 0.8);
      background: rgba(14, 14, 14, 0.8);
      border-radius: 4px;
      height: 36px;
      width: 250px;
      transition: 0.3s;
      transition-timing-function: ease;
      color: #ffffff;
      font-size: 22px;
      font-family: 'jak';
  }
  & textarea:focus, input:focus{
      outline: none;
      border: 2px solid rgba(0, 0, 0, 1);
      background: rgba(24, 24, 24, 0.5);
  }
}

button {
  flex-shrink: 1;
  margin-top: 26px;
  margin-right: 12px;
  font-family: 'jak';
  font-size: 20px;
  color: #cccccc;
  height: 40px;
  width: 165px;
  background-color: #3e3e3e;
  border: 1px solid #636363;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
      color: rgba(255, 255, 255, 1);
      background-color: #a56d06;
      border: 1px solid rgb(99, 99, 99, 0.6);
  }
}
  
.upload-container {
  width: 220px;
  height: 62px;
  padding: 0 2rem 2rem;
  text-align: center;
  border: dashed 2px #d49012;
  border-radius: 10px;
  position: relative;
  margin: 14px auto;
  background-color: #313131;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #3b3b3b;
    transition: 1s;
  }

  input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  h3 {
    font-size: 30px;
    font-weight: 600;
    color: #b4b4b4;
  }
}
  
.fileover {
  background-color: #3b3b3b;
  transition: 1s;
  animation: drop 2s;
  animation-iteration-count: infinite;
}

.wrongfileover {
  background-color: #380000 !important;
}


.file {
  margin: 0 10px;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  border: dashed 1px #d49012;
  border-radius: 3px !important;
  color: #a4a4a4;
  font-weight: 500;

  &-container {
    height: 65px;
    margin: 0;
  }

  .name {
    font-size: 14px;
    margin: 0;
  }

  .size {
    font-size: 12px;
    margin: 0;
    margin-bottom: 0.25rem;
  }

  .info {
    flex-grow: 1;
    padding-left: 10px;
  }
}

.submit {
  width: 110px;
  flex-shrink: 1;
  margin: 0;
  margin-left: 10px;
  padding: 2px 2px;
}

@keyframes drop {
  0% {
    transform: translate(1px, 1px);
  }

  10% {
    transform: translate(1px, 2px);
  }

  20% {
    transform: translate(1px, 3px);
  }

  30% {
    transform: translate(1px, 2px);
  }

  40% {
    transform: translate(1px, 1px);
  }

  50% {
    transform: translate(1px, -1px);
  }

  60% {
    transform: translate(1px, -2px);
  }

  70% {
    transform: translate(1px, -3px);
  }

  80% {
    transform: translate(1px, -2px);
  }

  90% {
    transform: translate(1px, -1px);
  }

  100% {
    transform: translate(1px, 0px);
  }
}