
<div class="container">
  <p id="title">Import</p>

  <div class="option">
    <p>Name</p>
    <input [(ngModel)]="name" maxlength="20">
  </div>
  <div class="upload-container" [dragdrop]="allowedFileTypes" (fileDropped)="onFile($event)">
    <input type="file" #fileDropRef id="fileDropRef" name="File" [accept]="allowedFileTypesString" (change)="handleFile($event)" />
    <h3>Import File</h3>
  </div>

  <div class="file-container">
    <div class="file" *ngIf="file != null">
      <div class="info">
        <h4 class="name">{{ file.name }}</h4>
        <p class="size">{{ this.size }}</p>
      </div>
      <button class="submit" mat-stroked-button [disabled]="file == null" (click)="onSubmit()">Upload</button>
    </div>
  </div>
  
  </div>
  