
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$teamrun-orange: (
  50 : #faf2e3,
  100 : #f2deb8,
  200 : #eac889,
  300 : #e1b159,
  400 : #daa136,
  500 : #d49012,
  600 : #cf8810,
  700 : #c97d0d,
  800 : #c3730a,
  900 : #b96105,
  A100 : #fff0e3,
  A200 : #ffd4b0,
  A400 : #ffb87d,
  A700 : #ffab64,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
$teamrun-grey: (
  50 : #eae9e9,
  100 : #cac8c7,
  200 : #a6a4a2,
  300 : #827f7c,
  400 : #686360,
  500 : #4d4844,
  600 : #46413e,
  700 : #3d3835,
  800 : #34302d,
  900 : #25211f,
  A100 : #f9aa75,
  A200 : #f78c44,
  A400 : #ff6c09,
  A700 : #ef6000,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #ffffff,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$teamrun-client-primary: mat.define-palette($teamrun-orange, 500);
$teamrun-client-accent: mat.define-palette($teamrun-grey, A100);

// The warn palette is optional (defaults to red).
$teamrun-client-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$teamrun-client-theme: mat.define-light-theme((
  color: (
    primary: $teamrun-client-primary,
    accent: $teamrun-client-accent,
    warn: $teamrun-client-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($teamrun-client-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
html::-webkit-scrollbar { display: none; }
body { margin: 0 !important; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mdc-snackbar__label {
  padding: 0 !important;
}
.mat-sidenav-container {
  overflow: hidden;
  background-color: #3e3e3e; // For light mode use #eeeeee
}

.mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: transparent !important;
}

.tooltip {
  max-width: unset !important;
  white-space: pre-line;
}

.text-in-background {
  -webkit-user-select: none;
  z-index: -1;
  font-family: 'precursor';
  font-size: 42px;
  display: block;
  color: rgb(0, 0, 0, 0.6);
  position: relative;
  padding: 2px;
}
.text-in-background:before,
.text-in-background:after {
  content: attr(title);
  padding: 2px;
  color: rgba(87, 87, 87, 0.2);
  position: absolute;
}
.text-in-background:before { top: 1px; left: 1px }
.text-in-background:after  { top: 3px; left: 3px }

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #494949; 
  border-radius: 3px;
}
 
::-webkit-scrollbar-thumb {
  background: #dddddd; 
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cecece; 
}

@font-face {
  font-family: jak;
  src: url(assets/fonts/JAK.TTF) format("truetype");
}

@font-face {
  font-family: precursor;
  src: url(assets/fonts/PRECURSOR.TTF) format("truetype");
}