.blackscreen {
    position: fixed;
    z-index: 10;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    transition: 0.15s;
    &-fade {
        background-color: rgb(255, 255, 255, 0);
        z-index: -1;
        visibility: hidden;
    }
}

#bg-video {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}

.logo {
    position: fixed;
    width: 170px;
    height: 200px;
    top: 40px;
    right: 80px;
    & img {
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
        -webkit-user-select: none;
        max-width:100%;
        max-height:100%;
    }
    & p {
        -webkit-user-select: none;
        margin: 0;
        margin-top: -20px;
        margin-left: -8px;
        font-family: 'jak';
        font-size: 52px;
        color: #6c4700;
        text-shadow: -3px -2px #380000;
    }
}

.install {
    display: flex;
    flex-direction: column;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 750px;
    height: 420px;
    border-radius: 10px;
    left: 15%;
    top: 50%;
    transform: translateX(-15%) translateY(-50%);
    &-highlighted {
        margin-top: 16px;
        margin-bottom: 0;
        color: #b87512 !important;
        font-family: 'jak';
        text-decoration: underline;
        font-size: 32px !important;
    }
    &-bottom {
        position: absolute;
        bottom: 15px;
        & button:hover {
            background-color: #380000 !important;
        }
    }
    &-body {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        position: relative;
        margin-top: 12px;
        margin-left: 18px;
        &-check {
            margin-left: 30px !important;
            width: 260px !important;
        }
        & button {
            font-family: 'jak';
            font-size: 24px;
            color: #cccccc;
            margin: 10px 8px;
            height: 48px;
            width: 108px;
            flex-shrink: 1;
            background-color: #3e3e3e;
            border: 1px solid #636363;
            border-radius: 6px;
            outline: none;
            transition: 0.3s;
            &:hover {
                cursor: pointer;
                background-color: #a56d06;
                border: 1px solid rgb(99, 99, 99, 0.6);
            }
        }
        & p {
            margin: 4px;
            font-size: 20px;
            color: #cccccc;
        }
        &-center {
            margin: auto;
            margin-bottom: 20px;
            flex-shrink: 1;
            justify-content: center;
            & button {
                font-family: 'jak';
                font-size: 32px;
                color: #b87512;
                margin: 0;
                height: 96px;
                width: 212px;
                flex-shrink: 1;
                background: rgba(0,0,0,0.4);
                border: 2px solid #b87512;
                border-radius: 6px;
                outline: none;
                text-decoration: underline;
                transition: 0.15s;
                &:hover {
                    cursor: pointer;
                    color: #d49012;
                    border: 1px solid rgb(99, 99, 99, 0.6);
                }
            }
        }
    }
}
  
.fileover .dropbox {
    color: #d49012 !important;
    border: 1px solid rgba(214, 214, 214, 0.6);
  }
  
  .wrongfileover .dropbox {
    color: #380000 !important;
    border: 1px solid #380000 !important;
  }